@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &-1 {
    .#{$id}__topBar {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      padding: 10px 0;
      background: #975e2c;
      @include media-query(sm) {
        padding: 8px 0;
      }

      .#{$id}__topBarIcon {
        display: flex;
      }

      .#{$id}__topBarText {
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        @include media-query(sm) {
          font-size: 12px;
        }
      }
    }
  }
}
