@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__sizeGuideContainer {
    .sizeGuideHeader {
      margin-bottom: 14px;
      color: #000;
      font-size: 18px;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0.45px;
    }

    .sizeGuideDetails {
      padding: 20px;
      border: 2px solid #000;
      background: #FFF;

      .sizeGuideFitProfile {
        position: relative;
      }

      .sizeGuideFitProfile::after {
        width: 48px;
        right: 0;
        top: 6px;
        position: absolute;
        background: no-repeat;
        height: 100px;
        content: "";
        display: block;
        clear: both;
        background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2749%27 height=%2760%27 viewBox=%270 0 49 60%27 fill=%27none%27%3E%3Cpath d=%27M26.7519 59.2083H21.7698V39.1802H9.11521L10.3109 34.8458H22.3677V11.8283L5.22915 39.1802H0.396484L24.4601 0.967285L48.1751 39.1802H43.5915L26.7519 11.8283V34.8458H38.6094L39.3069 39.1802H26.7519V59.2083Z%27 fill=%27black%27/%3E%3C/svg%3E");
      }

      .sizeGuideLineHeader {
        width: 100%;
        margin: 20px 0 7px;
        padding: 9px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #900;
      }

      .fitProfile {
        margin: 0 !important;
        color: #808080;
        font-size: 22px;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase;
      }

      .productTitle {
        margin: 6px 0 0 !important;
        color: #000;
        font-size: 26px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
      }

      .tagLine {
        color: #000;
        font-size: 12px;
        font-weight: 400;
        line-height: 12px;
      }

      .productImg {
        margin-top: 10px;
      }

      .info {
        color: #000;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }

  &-2 {
    .sizeGuideHeader {
      margin-top: 40px;
    }
  }
}