@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__hide {
    display: none !important;
  }

  &__sticky,
  &__sticky + .filter-state {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 0 20px 12px;
    background-color: #fff;
    border-bottom: 2px solid #000;
    transition: all 0.3s ease-in-out;

    @include media-query('md') {
      padding-top: 12px;
    }

    & + .filter-state {
      position: fixed;
      top: 35px;
      padding-top: 12px;
    }
  }
}
