@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &-1 {
    .fotorama__stage .fotorama__stage__frame img[src*='hqdefault_46_12.webp'] {
      opacity: 0 !important;
    }
    .fotorama__stage {
      .fotorama__stage__frame {
        & img.#{$id}__largeImage + img.fotorama__img,
        & img.fotorama__img--full.#{$id}__fotorama__img--full + img.fotorama__img--full {
          display: none;
        }

        & img.fotorama__img--full.#{$id}__fotorama__img--full {
          display: block !important;
          margin: auto;
          // height: 100% !important;

          @include media-query(md) {
            height: auto !important;
            max-width: 100%;
          }
        }
        &::after {
          display: none;
        }

        & .product-video {
          display: none !important;
        }

        &:hover img {
          opacity: 1;
        }
        .product-video {
          display: none !important;
        }
      }
    }
    .fotorama__nav-wrap {
      .fotorama__nav__frame.video-thumb-icon {
        &::after {
          display: none;
        }
      }
    }

    .fotorama__fullscreen {
      .zoom {
        cursor: pointer;
        display: block;
        height: 80px;
        overflow: hidden;
        position: absolute;
        width: 80px;
        background-image: url(https://www.luxuryflooringandfurnishings.co.uk/static/version1706076993/frontend/Ayko/lff/en_GB/mage/gallery/gallery.png);
        background-repeat: no-repeat;
        z-index: 1000;
      }

      .zoom-in {
        background-position: 0 0px !important;
        top: 0;

        @include media-query(md) {
          display: none;
        }
      }

      .zoom-out {
        background-position: 0 -80px !important;
        top: 80px;

        @include media-query(md) {
          display: none;
        }
      }

      & img.fotorama__img--full.#{$id}__fotorama__img--full {
        height: 100% !important;
      }
    }
  }
}
