@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__container {
    width: 100%;

    .scrollable-wrapper {
      width: 100%;

      .#{$id}__categoryCards {
        display: flex;
        flex-wrap: nowrap;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none;

        &::-webkit-scrollbar {
          display: none;
        }

        @include media-query(lg) {
          overflow-x: auto;
        }

        .#{$id}__categoryCard {
          cursor: pointer;

          .#{$id}__image {
            object-fit: cover;
          }
        }
      }
    }
  }

  &-1 {
    .scent-accents-section {
      display: none;
    }
    .#{$id}__container {
      // max-width: 920px;
      padding: 0 40px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 40px;

      @media (max-width: 999px) {
        padding: 0 32px;
      }

      @media (max-width: 699px) {
        padding: 0 20px;
      }

      .#{$id}__title {
        font-size: 32px;
        font-family: var(--heading-font-family);
        font-weight: 500;
        line-height: 40px;
        text-align: center;
        margin: 32px 0;
        @include media-query(sm) {
          margin: 8px 0 20px;
        }
      }

      .scrollable-wrapper {
        padding: 0px 0 0px;

        .#{$id}__categoryCards {
          justify-content: center;
          gap: 32px;

          @include media-query(lg) {
            gap: 24px;
          }

          @media screen and (max-width: 450px) {
            gap: 16px;
          }

          @include media-query(xsm) {
            gap: 12px;
          }

          @include media-query(xlg) {
            padding: 8px 0 15px 0;
            justify-content: flex-start;
          }

          .#{$id}__categoryCard {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 102px;
            gap: 8px;



            .#{$id}__image {
              max-width: 102px;
              border-radius: 50%;
              aspect-ratio: 1;

              @include media-query(sm) {
                max-width: 90px;
              }

              @include media-query(xsm) {
                max-width: 80px;
              }
            }

            .#{$id}__title {
              font-size: 14px;
              font-family: 'Roboto';
              line-height: 16px;
              font-weight: 500;
              margin-top: auto;
              margin-bottom: 0;
              text-transform: uppercase;

              @include media-query(xsm) {
                font-size: 13px;
              }
            }
          }
        }
      }
      @include media-query(lg) {
        max-width: 100%;
      }

      @include media-query(lg) {
        margin-bottom: 9px;
      }
    }
  }
}
