@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__container {
    width: 100%;

    .scrollable-wrapper {
      width: 100%;

      .#{$id}__categoryCards {
        display: flex;
        flex-wrap: nowrap;

        @include media-query(lg) {
          overflow-x: auto;
        }

        .#{$id}__categoryCard {
          cursor: pointer;

          .#{$id}__image {
            object-fit: cover;
          }

          @include media-query(md) {
            &:last-child {
              margin-right: 15px;
            }
          }
        }
      }
    }
  }

  &-1 {
    .scent-accents-section {
      display: none;
    }
    .#{$id}__container {
      max-width: 920px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 40px;

      .#{$id}__title {
        font-size: 32px;
        font-family: var(--heading-font-family);
        font-weight: 500;
        line-height: 40px;
        text-align: center;
        margin: 32px 0;
        @include media-query(sm) {
          margin: 8px 0 20px;
        }
      }

      .scrollable-wrapper {
        padding: 0px 0 0px;

        @include media-query(md) {
          padding: 0px 0 0px 18px;
        }

        .#{$id}__categoryCards {
          justify-content: center;

          @include media-query(lg) {
            padding: 8px 0 15px 0;
            justify-content: flex-start;
          }

          .#{$id}__categoryCard {
            width: 102px;
            &:not(:last-child) {
              margin-right: 32px;

              @include media-query(lg) {
                margin-right: 20px;
              }
            }

            @include media-query(lg) {
              margin-right: 20px;
              flex: 0 0 102px;
            }

            .#{$id}__image {
              height: 102px;
              width: 100%;
              border-radius: 50%;
            }

            .#{$id}__title {
              font-size: 14px;
              font-family: 'Roboto';
              line-height: 16px;
              font-weight: 500;
              margin-top: 8px;
              margin-bottom: 0;
              text-transform: uppercase;
            }
          }
        }
      }
      @include media-query(lg) {
        max-width: 100%;
      }

      @include media-query(lg) {
        margin-bottom: 9px;
      }
    }
  }
}
