@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__invisible {
    visibility: hidden;
    opacity: 0;
  }
  &__hide {
    display: none;
    justify-content: space-between;
    align-items: center;
  }
}
