@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    &__noticeBar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background: #000;
        padding: 9px 13px 10px;

        &-notice {
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            line-height: 21px;
            letter-spacing: 0.4px;
            text-transform: capitalize;

            @include media-query(sm) {
                text-align: center;
                font-size: 11px;
                font-weight: 500;
                line-height: 14px;
            }
        }

        &-divider {
            width: 2px;
            height: 20px;
            background: #fff;

            @include media-query(sm) {
                width: 1px;
            }
        }
    }

    @media (min-width:410px) and (max-width:500px) {
        &__noticeBar {
            padding: 9px 24px 10px;
        }
    }
}