@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &-1 {
    &__topRatedMenu {
      display: flex;
  
      &-item {
        order: -1;
        margin-right: 14px;
        background: #fae6bc;
  
        > a {
          display: flex !important;
          align-items: center;
          gap: 3px;
          padding: 15px 13px 16px !important;
          color: #181818 !important;
          font-weight: 600;
          line-height: 17px;
  
          .#{$id}__starSvg {
            svg {
              width: 11px !important;
              height: 11px !important;
            }
          }
        }
      }
  
      @include media-query(xlg) {
        flex-direction: column;
  
        .#{$id}__mobileNavigationHeader {
          order: -2;
        }
  
        &-item {
          margin-right: 0;
  
          a {
            gap: 4px;
            padding: 13px 0 14px 17px;
            color: #121212 !important;
            font-weight: 600;
          }
        }
      }
    }
  }

  &-2 {
    &__topRatedMenu {
      display: flex;
  
      &-item {
        order: -1;
        margin-right: 27px;
  
        > a {
          display: flex !important;
          align-items: center;
          gap: 3px;
          color: #5c4b61 !important;
          font-weight: 600 !important;
          line-height: 17px;
          animation: heartbeat 4.5s ease-in-out infinite both;
          transform-origin: center;
  
          .#{$id}__starSvg {
            svg {
              width: 11px !important;
              height: 11px !important;

              path {
                fill: #5c4b61 !important;
              }
            }
          }
        }
      }
  
      @include media-query(xlg) {
        flex-direction: column;
  
        .#{$id}__mobileNavigationHeader {
          order: -2;
        }
  
        &-item {
          margin-right: 0;
          
          a {
            gap: 4px;
            padding: 13px 0 14px 17px;
            color: #121212 !important;
            font-weight: 600;
            animation-play-state: paused;

            .#{$id}__starSvg {
              svg {
                path {
                  fill: #181818 !important;
                }
              }
            }
          }
        }
      }
    }

    @keyframes heartbeat {
      from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
      }
      10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
      }
      17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
      }
      33% {
        transform: scale(1);
        animation-timing-function: ease-out;
      }
      100% {
        transform: scale(1);
        animation-timing-function: ease-out;
      }
    }
  }
}
