@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    &__hide {
        display: none !important;
    }

    &__mobfilter-btn {
        display: none;

        @include mediaQuery(sm) {
            display: block;
        }
    }


    &__seefullrange {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 16px auto 16px;
        padding: 20px;
        background-color: #fff;

        @include mediaQuery(sm) {
            width: auto;
            text-align: center;

        }

        & .mobile-text,
        & .mobile-or {
            display: none;

            @include mediaQuery(sm) {
                display: inline-block;
            }
        }

        & .mobile-or {
            @include mediaQuery(sm) {
                display: block;
            }
        }

        & .desktop-text,
        & .desktop-or {
            display: inline-block;

            @include mediaQuery(sm) {
                display: none;
            }
        }

        &--headline {

            font-size: 18px;
            color: #354755;

            @include mediaQuery(sm) {
                margin-bottom: 14px;
            }

            & span {
                font-weight: 700;
            }
        }


        &--btn {
            width: 100%;
            max-width: 220px;
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            overflow: hidden;
            outline: none;
            border: none;
            border-radius: 4px;
            text-transform: none;
            font-weight: initial;
            cursor: pointer;
            color: rgb(255, 255, 255);
            background-color: rgb(15, 114, 88);
            height: 40px;
            margin-top: 16px;
            padding: 0px 48px;

            &:hover {
                background-color: rgb(9, 87, 68);
                ;
            }
        }
    }
}