@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  body:has(.#{$id}__modal.active) {
    overflow: hidden;
  }

  &__modal-overlay.active {
    display: block !important;
  }

  [data-stock-status='false'] {
    position: relative;
    opacity: 0.5;
    pointer-events: none;

    &::after {
      content: '';
      position: absolute;
      transform-origin: 0 0;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: rotate(0.5rad) scale(1) translate(-50%, -50%);
      border-top: 1.5px solid rgb(25, 25, 25);
    }
  }

  &__offerBtn {
    height: 47px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000 !important;
    font-family: 'Anonymous Pro';
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    background: #fff;
    border: 1px solid #000;
    cursor: pointer;

    svg {
      margin-right: 10px;
    }
  }

  &__modal {
    padding: 32px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    visibility: hidden;
    opacity: 0;

    @include media-query(md) {
      padding: 32px 12px;
    }

    @include media-query(xsm) {
      padding: 32px 4px;
    }

    &-overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.4);
    }

    &-container {
      padding: 0;
      position: relative;
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: #fff;
      overflow-y: hidden;

      .header {
        padding: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #0000001a;

        .title {
          margin: 0;
          font-size: 20px;
          line-height: 26px;
          letter-spacing: 0.6px;
          font-weight: 700;
          font-family: 'Helvetica';
          color: #000;
          text-transform: uppercase;

          @include media-query(lg) {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }

      .content {
        padding: 20px 20px 0;
      }

      .#{$id}__productCard {
        padding-bottom: 20px;
        border-bottom: 1px solid #0000001a;

        .#{$id}__select {
          font-size: 16px;
          line-height: 18px;
          color: #000;
          font-weight: 700;
          font-family: 'Helvetica';
        }

        .#{$id}__cardContent {
          img {
            object-fit: cover;
          }

          .#{$id}__badges {
            display: flex;

            .#{$id}__badge {
              height: 30px;
              width: 74px;
              margin-right: 10px;
              padding: 8px;
              font-size: 14px;
              line-height: 14px;
              font-weight: 700;
              text-align: center;
              border: 1px solid #000;
              border-radius: 4px;
              text-transform: capitalize;
              cursor: pointer;

              &:last-child {
                margin-right: 0;
              }
            }

            .#{$id}__badge.active {
              background: #000;
              color: #fff;
            }
          }

          .#{$id}__colorText {
            min-height: 24px;
            font-size: 12px;
            line-height: 1;
            font-weight: 700;
            color: #000000bf;
            text-transform: capitalize;
          }

          .#{$id}__swatches {
            display: flex;

            .#{$id}__swatch {
              display: block;
              height: 24px;
              width: 24px;
              outline: 1.5px solid #dcdcdc;
              border: 2px solid #fff;
              border-radius: 50%;
              cursor: pointer;

              &.active {
                outline: 1.5px solid #000;
              }
            }
          }

          .#{$id}__sizes {
            display: flex;

            .#{$id}__size {
              width: 40px;
              height: 24px;
              border: 1px solid #dcdcdc;
              border-radius: 4px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 12px;
              line-height: 1;
              font-weight: 400;
              color: #000;
              cursor: pointer;

              &.active {
                background: #000;
                color: #fff;
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }

          .#{$id}__sizeText {
            min-height: 24px;
            font-size: 12px;
            line-height: 1;
            font-weight: 700;
            color: #000000bf;
          }
        }
      }

      .#{$id}__cardFooter {
        // margin-top: 20px;

        button {
          width: 100%;
          padding: 14px;
          font-family: 'Anonymous Pro';
          font-size: 15px;
          line-height: 18px;
          font-weight: 400;
          color: #fff;
          background: #000;
          letter-spacing: 1px;
          text-align: center;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }

    .close {
      background: #0000000d;
      width: 30px;
      height: 30px;
      text-align: center;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }

    .modal_open_button {
      border: 1px solid black;
      background-color: white;
      height: 50px;
    }

    .modal_open_button:hover {
      background-color: #ddd;
    }
  }

  &__modal.active {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
  }

  &-1 {
    .#{$id}__modal {
      &-container {
        max-width: 600px;
        overflow: hidden;

        .#{$id}__productCardWrapper {
          padding-top: 20px;

          @include media-query(md) {
            padding-top: 15px;
          }

          &:first-child {
            padding-top: 0;
          }

          .#{$id}__productCard {
            .#{$id}__select {
              @include media-query(lg) {
                font-size: 14px;
                line-height: 16px;
              }
            }

            .#{$id}__cardContent {
              margin-top: 10px;
              display: flex;
              align-items: center;

              img {
                width: 100px;
                height: 100px;
                margin-right: 20px;

                @include media-query(lg) {
                  width: 70px;
                  height: 70px;
                  margin-right: 10px;
                }

                @include media-query(xsm) {
                  width: 60px;
                  height: 64px;
                  margin-right: 10px;
                }
              }

              .#{$id}__colorText {
                @include media-query(sm) {
                  font-size: 10px;
                  line-height: 10px;
                }
              }

              .#{$id}__swatches {
                margin-top: 5px;

                .#{$id}__swatch {
                  @include media-query(sm) {
                    height: 23px;
                    width: 23px;
                  }
                }
              }

              .#{$id}__sizes {
                margin-top: 5px;

                .#{$id}__size {
                  @include media-query(sm) {
                    width: auto;
                    padding: 3px;
                    min-width: 22px;
                    height: 23px;
                    font-size: 10px;
                    line-height: 10px;
                  }
                }
              }

              .#{$id}__sizesWrapper {
                //margin-bottom: 8px;
                align-self: flex-end;
              }
            }
          }

          .#{$id}__badges {
            margin-bottom: 15px;

            .#{$id}__badge {
              @include media-query(sm) {
                height: 24px;
                width: 60px;
                padding: 6px;
                margin-right: 5px;
                font-size: 10px;
                line-height: 10px;
              }

              @include media-query(xsm) {
                width: 54px;
                padding: 6px 3px;
                margin-right: 4px;
              }
            }
          }
        }
      }
    }

    .content {
      max-height: 600px;
      overflow-y: auto;

      @include media-query(xl) {
        max-height: 500px;
      }

      @include media-query(lg) {
        max-height: 480px;
      }

      // @include media-query(xsm) {
      //   max-height: 360px;
      // }
    }

    .#{$id}__swatchesDetails {
      margin-right: 20px;

      @include media-query(lg) {
        margin-right: 10px;
      }

      @include media-query(xsm) {
        margin-right: 8px;
      }
    }

    .#{$id}__size,
    .#{$id}__swatch {
      margin-right: 10px;

      @include media-query(lg) {
        margin-right: 5px;
      }

      @include media-query(xsm) {
        margin-right: 4px;
      }
    }

    .#{$id}__cardFooter {
      margin: 0 auto 0;
      padding: 16px 20px;
      width: 100%;
      box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    }
  }

  &-2 {
    .#{$id}__modal {
      &-container {
        max-width: 1100px;
        overflow: hidden;
      }

      .content {
        @include media-query(lg) {
          width: 100%;
          overflow-x: auto;
        }
      }
    }

    .#{$id}__productCards {
      display: flex;
      justify-content: center;
      align-items: center;

      @include media-query(lg) {
        justify-content: flex-start;
      }
    }

    .#{$id}__cardContent {
      // margin-right: 20px;

      img {
        width: 100%;
        height: 235px;
      }

      .#{$id}__badges {
        margin: 10px 0;
      }

      .#{$id}__swatches {
        margin: 5px 0 10px 0;
      }
    }

    .#{$id}__productCardWrapper {
      padding: 0 20px;
      border-right: 1px solid #e6e6e6;
      border-bottom: 0;

      &:last-child {
        padding-right: 0;
        border-right: 0;

        @include media-query(lg) {
          padding-right: 20px;
        }
      }

      &:first-child {
        padding-left: 0;
      }

      .#{$id}__productCard {
        border-bottom: 0;
      }
    }

    .#{$id}__size,
    .#{$id}__swatch {
      margin-right: 5px;
    }

    .#{$id}__size {
      margin-top: 5px;
    }

    .#{$id}__cardFooter {
      margin: 10px auto 20px;

      button {
        width: 528px;
        padding: 14px;
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
        color: #fff;
        background: #000;
        letter-spacing: 1px;
        text-align: center;
        cursor: pointer;

        @include media-query(sm) {
          width: 300px;
        }
      }
    }
  }
}
