@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__productCards {
    margin-bottom: 24px;

    .#{$id}__productCard {
      .#{$id}__productImageWrapper {
        position: relative;

        .#{$id}__productImage {
          width: 100%;
          object-fit: cover;
        }

        .#{$id}__priceBox {
          position: absolute;
          top: 9px;
          left: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 68px;
          height: 68px;
          gap: 2px;
          background-color: #202e44;
          border-radius: 50%;

          &-prices {
            .#{$id}__currentPrice {
              margin-bottom: 2px;
              color: #fff;
              text-align: center;
              font-size: 12px;
              font-weight: 700;
              line-height: 12px;
            }

            .#{$id}__wasPrice {
              color: #fff;
              font-size: 12px;
              font-weight: 400;
              line-height: 12px;
              text-decoration-line: strikethrough;
            }
          }
        }

        .#{$id}__priceBox.active {
          border: 1px solid #000;
        }
      }

      .#{$id}__productDetails {
        &-title {
          margin: 7px 0 0 7px;
          color: #000;
          font-size: 12px;
          font-weight: 700;
          line-height: 14px;
        }

        &-featuredList {
          margin: 12px 7px;
          display: flex;
          flex-direction: column;
          gap: 4px;
          list-style-position: inside;
        }
        &-featuredItem {
          color: #000;
          font-size: 11px;
          font-weight: 400;
          line-height: 13px;
        }
      }
    }
  }
}
