@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .product-grid {
    .grid__item {
      position: relative;

      .card-wrapper {
        .card {
          position: relative;

          & > .card__inner {
            cursor: pointer;
          }

          & > .card__content {
            cursor: pointer;

            & > .card__information {
              display: flex;
              align-items: baseline;
              justify-content: space-between;
              flex-wrap: wrap;
              padding: 12px 2px !important;

              h3 {
                @include media-query(sm) {
                  font-size: 10px;
                  text-align: left;
                }
              }

              .card-information {
                width: auto;

                .price {
                  @include media-query(sm) {
                    font-size: 10px;
                    text-align: end;
                  }
                }
              }

              @include media-query(sm) {
                padding: 9px 0;
              }
            }
          }

          .#{$id}__variants-list {
            display: flex;
            width: 100%;
            padding: 0 0 12px 0;
            flex-wrap: wrap;
            gap: 8px;
            font-family: var(--font-heading-family);

            @include media-query(sm) {
              gap: 4px;
              padding: 0 0 9px 0;
            }

            li {
              list-style-type: none;
              width: 35px;
              height: 24px;
              font-size: 12px;
              font-weight: 700;
              border: solid 1px #000;
              padding: 0 0 0 2px;
              cursor: pointer;

              @include media-query(sm) {
                font-size: 10px;
                width: 28px;
                height: 23px;
                padding: 2px 0 0 2px;
              }

              &.#{$id}__selected {
                background-color: #000;
                color: #fff;
              }

              &.#{$id}__stockout {
                position: relative;
                opacity: 0.6;
                pointer-events: none;

                &::after {
                  content: '';
                  position: absolute;
                  transform-origin: 0 0;
                  top: 50%;
                  left: 50%;
                  width: 100%;
                  transform: rotate(0.5597rad) scale(1.2) translate(-50%, -50%);
                  border-top: 1.5px solid rgb(25, 25, 25);
                }
              }
            }
          }

          .#{$id}__atcForm {
            margin-bottom: 32px;
            font-family: var(--font-heading-family);

            button {
              padding: 0;
              font-size: 12px;

              span {
                font-weight: 700;
              }

              @include media-query(xsm) {
                font-size: 10px;
              }
            }

            @include media-query(sm) {
              margin-bottom: 24px;
            }
          }

          .card__heading a:after {
            display: none;
          }

          .alireviews-review-star-rating {
            display: block !important;
            width: 100%;
            text-align: left;

            .alr-wh-star-rating {
              padding-bottom: 0 !important;
            }

            .alr-wh-star-rating-list {
              margin-right: 8px !important;

              .alr-wh-star-rating-icon {
                .alr-wh-star-rating-icon-bound,
                .alr-wh-star-rating-icon-fill {
                  svg {
                    @include media-query(sm) {
                      width: 10px;
                      height: 10px;
                    }
                  }
                }
              }
            }

            .alr-wh-star-rating-average-number {
              @include media-query(sm) {
                font-size: 10px;
                letter-spacing: 0px !important;
              }
            }
          }
        }
      }

      .#{$id}__bestSellers {
        display: block !important;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;

        @include media-query(sm) {
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}
