@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .#{$id}__shippingInfo {
    width: 100%;
    margin-top: 23px;
    margin-bottom: 10px;
    .#{$id}__discountProgressCard {
      .#{$id}__discountProgressContainer {
        .#{$id}__shippingMessage {
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          text-align: center;
          color: #000;
          margin-bottom: 16px;
        }
        .#{$id}__discountProgress {
          height: 12px;
          width: 80%;
          position: relative;
          background: #f2f2f2;
          border-radius: 30px;
          overflow: hidden;
          margin: 0 auto;
          border: solid 1px #dd9933;

          &-bar {
            height: 100%;
            max-width: 100% !important;
            border-radius: 10px;
            background: #dd9933;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='25' viewBox='0 0 20 25' fill='none'%3E%3Cpath opacity='0.05' d='M10 0.589996H20L10 24.59H0L10 0.589996Z' fill='#EEEEEE'");
          }
        }
      }
    }
  }
}
