@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__hide {
    display: none;
  }

  .action.tocart {
    display: none;
  }

  &__openmodal {
    background-color: #f1b215;
    &:hover {
      background-color: #e77e07;
    }
  }

  &__modalcontent {
    display: flex;
    gap: 32px;
    align-items: flex-start;
    padding: 0 16px;

    @include media-query(sm) {
      flex-direction: column;
    }

    .prodact-image {
      @include media-query(sm) {
        width: 100%;
        max-width: 150px;
        margin: 10px auto;
      }
    }

    .title {
      margin-bottom: 16px;
      color: #69a622;
      font-size: 26px;
      font-weight: 600;
      line-height: 1.3;
    }

    .price {
      margin-bottom: 16px;
      color: #69a622;
      font-size: 30px;
      font-weight: 600;
      line-height: 36px;
    }

    .inner-custm-add-prod-upsell {
      display: inline-block;
    }
  }

  &__variants {
    &-label {
      margin-bottom: 16px;
    }

    label {
      display: block;
      width: 85%;
      .highest_badge {
        display: inline-block;
        background-color: #ffae1b;
        color: white;
        padding: 4px 8px;
        margin-left: 24px;
        margin-bottom: 5px;
        text-align: center;
        border-radius: 5px;
        input:not([disabled]):focus {
          box-shadow: none !important;
        }
      }
      &.custom-child-upsel-one {
        padding: 15px 0 10px 15px !important;
      }
    }
  }

  #product-addtocart-button[disabled] {
    cursor: wait !important;
    opacity: 0.6 !important;
  }
  body.ppatc__popup-visible {
    overflow: hidden !important;
  }
  .ppatc__popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    display: none;
    animation: fadeIn 0.3s linear none;
  }
  .ppatc__popup-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    background: rgba(71, 74, 71, 0.9);
    cursor: pointer;
  }
  body.ppatc__popup-enabled .ppatc__popup {
    display: block;
  }
  .ppatc__popup-container {
    display: table;
    width: 100%;
    height: 100%;
  }
  .ppatc__popup-container:before,
  .ppatc__popup-container:after {
    content: '';
    display: table-cell;
    vertical-align: middle;
  }
  .ppatc__popup-content {
    width: 750px;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
    padding: 15px 10px;
  }
  .ppatc__popup-form {
    display: block;
    width: 100%;
    position: relative;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
    overflow: hidden;
    background: #fff;
  }
  .ppatc__popup-header {
    background: rgba(235, 235, 235, 0.4);
    color: rgba(0, 0, 0, 0.4);
    font-size: 18px;
    font-weight: bold;
    padding: 18px 12px 16px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
  }
  .ppatc__popup-close {
    border: 0 !important;
    outline: 0;
    padding: 0;
    margin: 0;
    width: 36px;
    height: 36px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: center / 20px no-repeat !important;
    background-image: url(//dl.dropbox.com/s/djzhou8qxopmcii/dark-close-icon.png?dl=0) !important;
    opacity: 0.25;
    cursor: pointer;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
  }
  .ppatc__popup-close:hover {
    opacity: 0.5;
  }
  .ppatc__popup-item {
    display: table;
    width: 100%;
    position: relative;
  }
  .ppatc__popup__item-image i {
    background: center / 70% no-repeat;
    padding-top: 100%;
    display: block;
  }
  .ppatc__popup__item-title {
    display: block;
    font-size: 14px;
    color: #63ae53;
    margin-top: 21px;
    margin-bottom: 1px;
    text-decoration: none !important;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    transition: color 0.3s linear;
  }
  .ppatc__popup__item-price {
    font-size: 16px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
  }
  .ppatc__popup__item-message {
    font-size: 15px;
    display: inline-block;
    position: relative;
    background: rgb(255, 251, 234);
    margin-top: 14px;
    margin-bottom: 20px;
    padding: 9px 18px 13px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }
  .ppatc__popup__item-message > p:first-child {
    display: block;
    color: #d49935;
    line-height: 1.333;
    margin-bottom: 0;
  }
  .ppatc__popup__item-message > p:last-child {
    font-size: 13px;
    display: block;
    color: #bb9c62;
    margin-bottom: 0;
  }
  .ppatc__popup__quantity-loading:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    cursor: wait;
    z-index: 1;
  }
  .ppatc__popup__quantity-minus,
  .ppatc__popup__quantity-plus {
    width: 33px;
    height: 33px;
    background: rgba(0, 0, 0, 0) center / 19px no-repeat !important;
    float: left;
    outline: 0 !important;
    border: 0 !important;
    -moz-border-radius: 3px !important;
    -webkit-border-radius: 3px !important;
    border-radius: 3px !important;
    margin: 0;
    padding: 0;
    opacity: 0.4;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
  }
  .ppatc__popup__quantity-minus {
    background-image: url(//dl.dropbox.com/s/by5dp8id874byhf/dark-minus-icon.png?dl=0) !important;
  }
  .ppatc__popup__quantity-plus {
    background-image: url(//dl.dropbox.com/s/ac4pnxe3txr6xf2/dark-plus-icon.png?dl=0) !important;
  }
  .ppatc__popup__quantity-minus:hover,
  .ppatc__popup__quantity-plus:hover {
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.05) !important;
  }
  .ppatc__popup__quantity-minus[disabled] {
    opacity: 0.15;
    cursor: default;
    background-color: none !important;
  }
  .ppatc__popup__quantity-input {
    color: #444 !important;
    background: rgba(0, 0, 0, 0) !important;
    float: left;
    height: 33px !important;
    width: 56px !important;
    font-size: 16px !important;
    text-align: center;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
    margin: 0 2px;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: border-color 0.3s linear;
    -moz-transition: border-color 0.3s linear;
    transition: border-color 0.3s linear;
  }
  .ppatc__popup__quantity-input:hover,
  .ppatc__popup__quantity-input:focus {
    border-color: rgba(0, 0, 0, 0.5) !important;
  }
  .ppatc__popup-footer {
    display: flex;
    text-align: center;
    padding: 18px 0;
  }
  .ppatc__popup-btn {
    text-decoration: none !important;
    position: relative;
    display: table;
    margin: 0 16px 0 0;
    background: #f1812f;
    background-image: -moz-linear-gradient(
      top,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    background-image: -webkit-linear-gradient(
      top,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    color: #fff !important;
    font-size: 17px;
    padding: 18px 42px 17px 25px !important;
    border: 0 !important;
    outline: 0 !important;
    -moz-border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    border-radius: 8px !important;
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.05);
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    transition: background 0.3s linear;
  }
  .ppatc__popup-btn:hover {
    background: #dc6f1f;
  }
  .ppatc__popup-btn[disabled] {
    cursor: wait;
  }
  .ppatc__popup-btn:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 43px;
    background: center / 22px no-repeat;
    background-image: url(//dl.dropbox.com/s/nx7af2922t641qn/light-right-icon.png?dl=0);
  }
  .ppatc__popup-link {
    position: relative;
    display: table;
    background: none !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    outline: 0 !important;
    margin: 4px auto 4px 16px;
    padding: 10px 0 !important;
    color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    font-weight: normal;
    border: 0 !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    transition: color 0.3s linear;
  }
  .ppatc__popup-link:hover {
    color: rgba(0, 0, 0, 0.75) !important;
    border-bottom-color: transparent !important;
  }
  .ppatc__popup-link:before {
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: block;
    -webkit-transition: border-bottom-color 0.3s linear;
    -moz-transition: border-bottom-color 0.3s linear;
    transition: border-bottom-color 0.3s linear;
  }
  .ppatc__popup-link:hover:before {
    border-bottom-color: transparent !important;
  }
  @media screen and (max-width: 767px) {
    .ppatc__popup-item {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .ppatc__popup__item-image {
      float: left;
      width: 110px;
      margin: 5px 5px 0 0;
    }
    .ppatc__popup__item-title {
      float: left;
      margin-top: 20px;
      margin-bottom: 10px;
      padding-right: 10px;
      width: calc(100% - 125px);
    }
    .ppatc__popup__quantity {
      position: absolute;
      right: 8px;
      bottom: 12px;
    }
    .ppatc__popup__item-price {
      color: #487f3c;
      margin-bottom: 18px;
      width: calc(100% - 115px);
      float: right;
    }
    .ppatc__popup__item-message {
      display: table;
      margin-right: 20px;
      margin-left: 20px;
      width: calc(100% - 75px);
    }
  }
  @media screen and (min-width: 768px) {
    .ppatc__popup-items {
      padding: 10px 0;
    }
    .ppatc__popup__item-image {
      float: left;
      width: 110px;
      margin: 5px 10px 0;
    }
    .ppatc__popup__quantity {
      float: right;
      margin: 26px 9px 0 0;
      position: relative;
    }
    .ppatc__popup-footer {
      border-top: 1px solid rgba(0, 0, 0, 0.075);
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 770px) {
  }
  @media screen and (min-width: 771px) {
  }
  @media only screen and (min-width: 991px) and (max-width: 1199px) {
  }
  @media only screen and (min-width: 1200px) {
  }
}
