@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__hide {
    display: none;
  }

  &__search-wrapper {
    position: relative;
    margin: 0 4px;
    height: 30px;
    width: 190px;

    input {
      height: 100%;
      width: 100%;
      padding: 5px;
      font-size: 10px;
    }

    .icon-button__icon {
      width: 20px !important;
      height: 20px !important;

      .icon {
        width: 100% !important;
        height: 100% !important;
      }
    }

    .#{$id}__close {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      // right: -16px;
      right: 4px;
    }
  }

  .quick-search {
    @include media-query(md) {
      top: calc(var(--announcement-height, 0) + var(--height-header, 0) - 4px) !important;
    }
  }
  .quick-search__bar {
    @include media-query(md) {
      display: none;
    }
  }

  .header__row-segment-desktop {
    nav {
      ul.header__links-list {
        li {
          margin-right: 12px !important;

          a {
            font-size: 14px;
          }
        }

        li:last-of-type {
          margin-right: 24px !important;
        }
      }
    }
  }

  &__searchBar {
    width: 280px;
    height: 34px;
    padding: 6px 12px 7px;
    gap: 30px;
    border: 1px solid #000;
    background: #fff;

    @include media-query(md) {
      width: 180px;
      height: 30px;
      padding: 5px 5px 8px;
      gap: 7px;
    }

    .#{$id}__placeHolder {
      color: #373737;
      font-size: 12px;
      font-weight: 400;
      line-height: 12px;

      @include media-query(md) {
        font-size: 8px;
      }
    }

    .icon-button {
      justify-content: flex-start;
    }

    .icon-button-header-search {
      width: 21px !important;
      height: 21px !important;
      position: relative !important;

      @include media-query(md) {
        width: 20px !important;
        height: 20px !important;
      }

      .icon-button__icon .icon {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  // &__searchBar[aria-expanded='false'] {
  //   .icon-button-header-menu-close {
  //     display: none !important;
  //   }
  // }

  &__searchBar[aria-expanded='true'] {
    .icon-button-header-menu-close {
      display: none !important;
    }
  }
}
