@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__hide {
    display: none !important;
  }
  &__chatWidget-adjust {
    [style='height: 0px; width: 0px; position: absolute; display: block; z-index: 2147483647;'] {
      display: none !important;
    }

    [aria-label='Open Form'] {
      display: none !important;
    }
  }
}
