@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .banner.flt {
    .container.bdinpad {
      img.bnrprd-v2 {
        display: none !important;
      }
      .bnrrgt {
        .bnrhd1 {
          @include max-media-query(sm) {
            font-size: 18px;
          }
        }
        .bnrhd2 {
          text-align: center;
          @include max-media-query(sm) {
            font-size: 26px;
          }
        }

        .bnrrgt-hding,
        & > ul.bnrlist {
          display: none;
        }

        .#{$id}__banner_list {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;
          margin: 0 auto;

          @include max-media-query(sm) {
            max-width: 400px;
          }

          .banner__points {
            width: 100%;
            margin-top: 25px;
            display: flex;
            max-width: 900px;
            margin: 25px auto 0;
            @include max-media-query(xlg) {
              margin: 12px auto 0;
            }

            @include max-media-query(lg) {
              margin: 20px 0 0;
            }

            @include max-media-query(sm) {
              width: 100%;
              flex-wrap: wrap;
              justify-content: start;
              margin: 20px 0 0;
            }
            li {
              display: flex;
              align-items: center;
              width: calc(100% / 4);

              img {
                width: 44px;
                height: 44px;
                @include max-media-query(sm) {
                  width: 40px;
                  height: 40px;
                }
              }
              p {
                font-size: 15px;
                line-height: 20px;
                letter-spacing: 0;
                text-transform: uppercase;
                margin-left: 10px;
                @include max-media-query(mlg) {
                  font-size: 12px;
                }

                @include max-media-query(sm) {
                  max-width: 127px;
                  margin-left: 5px;
                }

                @include max-media-query(xsm) {
                  font-size: 10px;
                }
              }

              @include max-media-query(sm) {
                width: calc(100% / 2);
                &:nth-child(3),
                &:last-child {
                  margin-top: 10px;
                }
              }
            }
          }
        }
        img.bnrprd-v2-mob {
          @include max-media-query(sm) {
            display: none !important;
          }
        }
        @include min-media-query(sm) {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
        }

        @include max-media-query(xlg) {
          .bnrbtnbx-v2 {
            margin: 12px 0 0 0;
          }
        }

        @include max-media-query(lg) {
          .bnrbtnbx-v2 {
            margin: 20px 0 0 0;
          }
        }
      }
    }

    @include max-media-query(xlg) {
      padding: 5px 0;
    }
  }

  .banner {
    .#{$id}__video-wrapper {
      position: relative;
      overflow: hidden;
      width: max-content;
      margin: 0 auto;
      .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;

        &::before {
          content: '';
          position: absolute;
          top: 20px;
          left: 60px;
          width: 140px;
          height: 70px;
          background-image: url(https://cdn.shopify.com/s/files/1/0267/7080/0737/files/click-to-turn-on-sound.webp?v=1707774895);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          transition: max-width 200ms ease 0s;
          z-index: 2;
          animation: pulse 1.5s infinite;

          @include max-media-query(lg) {
            left: 0;
          }
        }

        & [aria-label='Click for sound'] {
          @include max-media-query(lg) {
            right: 0 !important;
          }
          & > div {
            opacity: 0;
          }
        }
        &:hover {
          & [aria-label='Click for sound'] {
            width: auto !important;
            & > div {
              max-width: 1000px !important;
              opacity: 1;
            }
          }
        }
      }
    }

    .#{$id}__heroVideo {
      margin: 25px 50px 0;
      max-width: 450px;
      border: solid 1px #000;
      z-index: 22;

      @include max-media-query(xlg) {
        max-width: 400px;
        margin: 12px 50px 0;
      }
      @include max-media-query(lg) {
        display: flex;
        margin: 20px auto 0;
        max-width: 320px;
      }
    }

    @include max-media-query(lg) {
      img.bnrprd-v2 + .#{$id}__heroVideo {
        display: none;
      }

      img.bnrprd-v2-mob + .#{$id}__heroVideo {
        display: block;
      }
    }
  }
  @keyframes pulse {
    0% {
      transform: scale(0.95);
    }

    50% {
      transform: scale(1);
    }

    100% {
      transform: scale(0.95);
    }
  }
}
