@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .ig003__most-popular .package-card__text-2 {
    //order: 1;
  }

  &__first-one-time,
  &__first-sub {
    border: 1px solid #216a34 !important;
    .package-card__title.mostpop {
      background: #1b720a;
      color: #fff;
    }
  }

  &__highest-val-one-time,
  &__highest-val-sub {
    border: 1px solid #fde34c !important;
    .package-card__title {
      background: #fde34c !important;
      color: #000 !important;
    }
  }
}
