@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  #slotContainer {
    justify-content: space-evenly;
    gap: 12px;
    @include media-query(md) {
      margin-bottom: 15px;
      gap: 6px;
    }
  }
  .navigator-game-card {
    position: relative;
    width: 100%;

    @include media-query(md) {
      padding: 10px;
      padding-bottom: 0;
      border: 1px solid #d0d0e3;
      border-radius: 5px;
    }

    img.card__image {
      height: 190px;
    }

    .card__bottom {
      padding-bottom: 10px;
    }
  }

  .col-width {
    width: calc(33.3% - 8px);
    @include media-query(lg) {
      width: calc(50% - 8px);
    }
    @include media-query(sm) {
      width: 100%;
    }

    a {
      height: auto;
    }

    .card__bottom {
      @include media-query(sm) {
        padding-bottom: 0;
      }
    }
  }
  .game-buttons-mb {
    display: none;

    @include media-query(md) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 12px;
      margin: 15px auto 10px;
    }
    @include media-query(sm) {
      grid-template-columns: 1fr 1fr;
    }

    a {
      text-decoration: none;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .play-now-btn-mb {
      width: 100%;
      border-radius: 5px;
      display: flex;
      height: 40px !important;
      justify-content: center;
      align-items: center;
      background: #ff7556;
      font-size: 14px;
      color: #ffffff;
      font-weight: 700;
    }

    .play-money-btn-mb {
      width: 100%;
      border-radius: 5px;
      display: flex;
      height: 38px;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      font-size: 14px;
      color: #ff7556;
      font-weight: 400;
      border: 1px solid #ff7556;
    }
  }

  &__gameoverlay {
    position: relative;
    width: calc(100% - 24px);
    //max-width: 300px;
    padding: 15px;
    position: absolute;
    top: -4px;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    background: #f2f2f2;
    box-shadow: 2px 0 1px 0 #f2f2f2;
    backdrop-filter: blur(1.5px);
    border-radius: 10px;
    border: 1px solid #d0d0e3;

    &::before {
      content: 'Slot Popolare';
      z-index: 5;
      position: absolute;
      left: 22px;
      top: 24px;
      display: none;
      padding: 5px 10px;
      font-size: 10px;
      background: #fb3a2b;
      text-transform: uppercase;
      border-radius: 20px;
      color: #fff;
      font-weight: 700;
    }

    @include media-query(md) {
      display: none;
    }

    &.stock-card {
      max-width: 280px;
      top: 5px;
      left: 10px;
    }

    &.fadein {
      animation: fade-in 0.3s ease-in-out both;
    }
    &.fadeout {
      animation: fade-out 0.3s ease-in-out both;
    }

    .game-gif {
      height: 180px;
    }
    .game-gif img {
      max-width: 100%;
      height: 180px;
      width: 100%;
      border-radius: 3px;
      cursor: pointer;
      //filter: drop-shadow(1px 0px 1px black);
    }

    .game-stats {
      display: flex;
    }
    .game-name-section {
      display: flex;
      justify-content: space-between;
      margin: 8px auto;
      cursor: pointer;
    }
    .game-name {
      font-size: 16px;
      color: #212529;
      font-weight: 600;
      line-height: 21.28px;
    }
    .game-overlay-content a {
      text-decoration: none;
    }

    .game-likes span,
    .game-views span {
      font-size: 14px;
      font-weight: 400;
      color: #606366;
    }
    .game-likes {
      display: flex;
      align-items: center;
      line-height: 1.3;
      margin-right: 3px;
    }

    .game-description span {
      color: #212529;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
    }

    .play-now-btn {
      border-radius: 5px;

      display: flex;
      height: 40px !important;
      justify-content: center;
      align-items: center;
      background: #ff7556;
      font-size: 14px;
      color: #ffffff;
      font-weight: 700;
      margin-top: 20px;
    }

    .play-money-btn {
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      height: 40px;
      justify-content: center;
      align-items: center;
      background: #ffffff;
      font-size: 14px;
      color: #ff7556;
      font-weight: 400;
      margin-top: 10px;
      border: 1px solid #ff7556;
    }
  }

  &__gamecards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 12px;
    margin-bottom: 16px;

    @include media-query(md) {
      gap: 16px;
    }

    // & > .#{$id}__gamecard:nth-child(3n) {
    //   .#{$id}__gameoverlay {
    //     // left: auto;
    //     // right: 10px;
    //   }
    // }

    img {
      max-width: 100%;
      height: auto;
    }
    img[alt="Neptune's Champions"],
    img[alt='Columbus Deluxe'] {
      width: 100%;
    }
  }

  &__gamecard {
    position: relative;
    width: auto;

    &[data-position='gif card'] {
      .#{$id}__gameoverlay::before {
        display: block;
      }
    }

    @include media-query(md) {
      padding: 10px;
      padding-bottom: 0;
      border: 1px solid #d0d0e3;
      border-radius: 5px;
    }

    a {
      text-decoration: none;
    }

    img {
      border-radius: 5px;
    }
    &-img img {
      width: 100%;
      height: 190px;
    }

    .gamecard-likes {
      display: flex;
      align-items: center;
      line-height: 1.3;
      span {
        color: #606366;
        font-size: 14px;
      }
    }

    .gamecard-title {
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
      color: #212529;
    }
  }

  &__modal {
    position: fixed;
    z-index: 9999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);

    .modal-content {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      max-width: 374px;
      transform: translate(-50%, -50%);
    }

    .#{$id}__topcasinos {
      width: 100%;
      max-width: 350px;
      margin: auto;
      padding: 12px 12px 40px;
      background-color: #222949;
      border-radius: 5px;

      &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        color: #fff;
        text-align: center;
        font-size: 15px;
        font-weight: 700;
        line-height: 18px;

        p {
          margin: 0;
        }

        .header-headline {
          text-transform: uppercase;
          &.newline {
            display: block;
          }
        }

        .header-close {
          cursor: pointer;
        }
      }

      &-list {
        & > div:not(:last-child) {
          margin-bottom: 10px;
        }
      }

      &-listitem {
        img {
          object-fit: contain;
        }

        .content_top {
          display: flex;
          background: #fafafa;
          border-radius: 5px 5px 0px 0px;
          padding: 7px 5px;
          align-items: center;
        }
        .casino-list__offer_text {
          width: 60%;
          margin: 0 auto 0 10px;
          text-decoration: none;
          color: #5c6ca3;
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 700;
          h4 {
            margin: 0 auto;
          }
        }
        .sub_heading_div {
          display: flex;
          flex-direction: column;
        }
        .sub_heading_div span {
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;
          margin: auto 0;
          color: #212529;
        }
        .tnc_text_div {
          background: #eeeeee;
          border-radius: 0px 0px 5px 5px;
          height: 24px;
          display: flex;
          margin-top: 3px;
        }
        .tnc_text_div p {
          font-size: 9px;
          text-align: center;
          margin: auto;
        }
        .custom_popUP_btn {
          background: #ff7556;
          width: 74.42px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 38px;
          border-radius: 3px;
          color: #6b1400;
          text-decoration: none;
          font-weight: 900;
          font-size: 11px;
        }
      }

      .footer-button {
        color: #8a8c96;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: 900;
        position: absolute;
        left: 0;
        right: 0;
        cursor: pointer;
        margin: 10px auto;
        justify-content: center;
        display: flex;
      }
    }
  }

  &__gamecard-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3px auto;
  }

  .hide_content {
    display: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
