@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &__hide {
    display: none !important;
  }

  &.#{$id}-2 {
    .#{$id}__newprice {
      color: #333;
      font-size: 32px;
      line-height: 1;
    }

    .#{$id}__prices {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      gap: 0;
      margin-bottom: 0;
    }

    .#{$id}__pdp {
      .#{$id}__discountbadge {
        margin-bottom: 20px;
      }
      .#{$id}__prices {
        align-items: center;
      }
    }

    .#{$id}__discountbadge {
      width: max-content;
      margin-bottom: 0;
      padding: 0;
      text-align: center;
      color: #da5b48;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.3;
      background-color: #fff;
    }

    .flooring-price-pack-price {
      margin-bottom: 8px;
    }
  }

  &__pdp {
    .flooring-price-pack-price {
      display: flex;
      justify-content: center;
      margin-bottom: 24px;
    }
    .#{$id}__newprice-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 24px auto 0;
    }
  }

  &__discountbadge {
    width: max-content;
    margin-bottom: 7px;
    padding: 11px 17px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    background-color: #da5b48;
  }

  &__prices {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__oldprice {
    color: #202020;
    font-size: 16px;
    line-height: 27px;
    text-decoration-line: line-through;
  }

  &__newprice {
    color: #da5b48;
    font-weight: 600;
    font-size: 26px;
    line-height: 27px;
  }
}
