@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    .custpro.cust-mob-name-cust {
        text-align: center;

        .product.mob-name-cust {
            .value {
                font-weight: 700;
                font-size: 24px !important;
                color: #333 !important;
            }
        }

        .#{$id}__productAttributes {
            margin-top: 12px;
            color: #333 !important;
            font-weight: 600;
        }
    }

    .page-title {
        span {
            font-weight: 700;
            font-size: 30px !important;
            color: #333 !important;
        }
    }

    .page-title-wrapper {
        .#{$id}__productAttributes {
            width: 65%;
            margin: 12px 0;
            color: #333 !important;
            font-weight: 600;
        }
    }
}