@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &-1 {
    .#{$id}__dropdownWrapper {
      .#{$id}__dropdownContainer {
        position: relative;
        height: 54px;
      }

      .model-size-dropdown {
        top: 0;
        left: 0;
        margin-top: 24px;
        transform: none;

        .model-size-dropdown-content {
          p {
            text-align: left;
          }
        }
      }

      & + .js-enabled.product__option {
        margin-top: 24px;
      }
    }
  }

  &-2 {
    .model-size-dropdown {
      display: none;
    }
  }
}
