@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .#{$id}__modalWrapper {
  }
  .#{$id}__element {
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes slide-in-fwd-center {
    0% {
      transform: translateZ(-1400px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }
}
