@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    &__container {
        font-size: 12px;
        line-height: 1;
        margin-bottom: 64px;
        text-align: center;
        line-height: 15px;

        @media screen and (max-width: 1200px){
            width: 290px;
            margin: 0 auto;
            margin-bottom: 32px;
            line-height: 20px;
        }
    }
    &__tooltip {
        cursor: pointer;
    }
}