@import './variables';
@import '../src/lib/shared/shared';


.resourceMarketoForm .section__form.FE-#{$id}__leadformcontainer .mktoForm .mktoFormRow {
    padding-left: 0;

    input,
    select {
        height: 42px !important;
        border-radius: 4px !important;
    }

    .fe-tooltip-N4G4-paid {
        display: none;
    }

    &.termsSection {
        width: 60% !important;

        @media screen and (max-width: 767px) {
            width: 100% !important;
        }

        &+.mktoButtonRow {
            width: 40% !important;

            @media screen and (max-width: 767px) {
                width: 100% !important;
            }
        }
    }



}

.FE-#{$id} {
    &__hide {
        display: none !important;
    }

    .stepPaginationContainer {
        margin-bottom: 0;
    }

    &__leadformcontainer.section__form {
        width: 100%;
        max-width: 537px;
        margin: 0 auto;

        @media screen and (max-width: 768px) {
            padding: 22px !important;
        }

        @media screen and (max-width: 767px) {
            padding: 30px !important;
        }



        label.mktoLabel {
            padding-left: 9px !important;
            color: #04293a !important;
            font-weight: 600 !important;
            font-size: 14px;
            line-height: 20px;
        }

        input {
            height: 42px !important;
            border-color: #aeb0b6 !important;
            border-radius: 4px !important;
        }
    }

    &__formtitle {
        line-height: 36px;
        text-align: center !important;

    }

    &__inputrow {
        width: 100% !important;
        padding: 0 !important;
    }


    &__formnavelems {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        max-width: 200px;
        margin: 0 auto 14px;
        padding: 12px;

        .line-middle {
            width: calc(100% - 40px);
            height: 4px;
            background-color: #c8c8ca;
        }

        .circle-blue {
            width: 20px;
            height: 20px;
            cursor: pointer;

            path {
                fill: rgb(37 172 235);
            }
        }

        .circle-left,
        .circle-right {
            position: relative;
            width: 20px;
            height: 20px;
            border: 1px solid #c8c8ca;
            border-radius: 50%;

            // cursor: pointer;

            &::before {
                position: absolute;
                top: 50%;
                left: 50%;
                width: calc(100% - 5px);
                height: calc(100% - 5px);
                background-color: #c8c8ca;
                border-radius: 50%;
                transform: translate(-50%, -50%);
                content: '';
            }
        }

        .circle-right[data-action="step-toggle"] {
            cursor: pointer;
        }
    }
}