@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    &__ctaBtn {
        padding: 11px 0 12.5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        background: #000 !important;
        border-radius: 0 !important;

        span {
            display: flex;
            align-items: center;
            gap: 8px;
            color: #FFF;
            font-size: 18px;
            font-weight: 700;
            line-height: 25.5px;
            letter-spacing: 0.45px;
        }

        span::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.41444 7.59549H6.08594C5.64337 7.59551 5.21725 7.7632 4.89337 8.06481C4.5695 8.36642 4.37192 8.77954 4.34044 9.22099L3.48344 21.221C3.46634 21.4607 3.49879 21.7013 3.57877 21.9279C3.65874 22.1545 3.78453 22.3622 3.94828 22.5381C4.11204 22.7139 4.31026 22.8542 4.53059 22.9501C4.75092 23.046 4.98864 23.0955 5.22894 23.0955H19.0809C19.3212 23.0953 19.5588 23.0457 19.7791 22.9498C19.9994 22.8538 20.1975 22.7136 20.3612 22.5378C20.525 22.3619 20.6508 22.1543 20.7308 21.9278C20.8108 21.7012 20.8434 21.4606 20.8264 21.221L19.9694 9.22099C19.938 8.77954 19.7404 8.36642 19.4165 8.06481C19.0926 7.7632 18.6665 7.59551 18.2239 7.59549H16.9049V7.34549C16.9049 6.08571 16.4045 4.87753 15.5137 3.98673C14.6229 3.09593 13.4147 2.59549 12.1549 2.59549C9.62744 2.59549 7.29144 4.60849 7.40494 7.34549L7.41444 7.59549ZM16.9049 9.09549V12.8455C16.9049 13.0444 16.8259 13.2352 16.6853 13.3758C16.5446 13.5165 16.3539 13.5955 16.1549 13.5955C15.956 13.5955 15.7653 13.5165 15.6246 13.3758C15.484 13.2352 15.4049 13.0444 15.4049 12.8455V9.09549H8.90494V12.8455C8.90494 13.0444 8.82592 13.2352 8.68527 13.3758C8.54462 13.5165 8.35385 13.5955 8.15494 13.5955C7.95603 13.5955 7.76526 13.5165 7.62461 13.3758C7.48396 13.2352 7.40494 13.0444 7.40494 12.8455C7.40494 12.8455 7.46994 11.093 7.44844 9.09549H6.08594C6.02281 9.09558 5.96205 9.11954 5.91587 9.16258C5.86968 9.20561 5.84148 9.26453 5.83694 9.32749L4.97944 21.3275C4.97696 21.3618 4.98158 21.3962 4.993 21.4286C5.00442 21.461 5.0224 21.4907 5.04581 21.5158C5.06922 21.541 5.09757 21.561 5.12908 21.5747C5.16058 21.5884 5.19458 21.5955 5.22894 21.5955H19.0809C19.1153 21.5954 19.1492 21.5882 19.1806 21.5744C19.2121 21.5607 19.2403 21.5406 19.2637 21.5155C19.2871 21.4904 19.3051 21.4608 19.3166 21.4284C19.328 21.3961 19.3328 21.3617 19.3304 21.3275L18.4729 9.32749C18.4684 9.26453 18.4402 9.20561 18.394 9.16258C18.3478 9.11954 18.2871 9.09558 18.2239 9.09549H16.9049ZM15.4049 7.59549V7.34549C15.4049 6.48354 15.0625 5.65689 14.453 5.04739C13.8435 4.4379 13.0169 4.09549 12.1549 4.09549C11.293 4.09549 10.4663 4.4379 9.85684 5.04739C9.24735 5.65689 8.90494 6.48354 8.90494 7.34549V7.59549H15.4049Z" fill="white"/></svg>') no-repeat center center;
            background-size: contain;
        }
    }
}