@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  &-1 {
    [stickbottom='0'] {
      //background-color: #8f32f5;
    }
    .mui-psyrto {
      .ctaWrapper__18skR {
        & + div.sidebarCard__3QkR_ {
          display: none;
        }
      }
      .#{$id}_card-container {
        &-infos {
          display: flex;
          &-icon {
            width: 146px;
            border-top-left-radius: 0.5rem;
            //background: #8f32f5;
            background: #fcca03;
            a {
              img {
                min-width: 146px;
                width: 100%;
                height: 100%;
              }
            }
          }

          &-texts {
            padding: 12px 8px;
            border: solid 1px #e7e7e7;
            border-top-right-radius: 0.5rem;
            width: calc(100% - 146px);

            &-box {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 12px;
              padding: 8px 0;
              margin-bottom: 8px;
              border-radius: 7px;
              background: #e1e1e1;

              &-icon {
                display: flex;
                flex-direction: column;
                align-items: center;
                & p {
                  font-size: 12px;
                  line-height: 14px;
                  margin-bottom: 0;
                }
              }
            }

            & > p {
              font-size: 16px;
              font-weight: 700;
              line-height: 19px;
              color: #1d254f;
              margin-bottom: 8px;
            }

            & > a {
              padding: 12px 8px;
            }
          }
        }

        .mui-zxrxtl {
          margin: 0;
          background-color: #e8e8e8;
          color: #555555;

          & a {
            color: #555555;
          }
        }
      }
    }
  }
}
