@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  #hubspot-messages-iframe-container {
    z-index: 9997 !important;
  }

  .quiz {
    .rh-modal {
      z-index: 9999999998 !important;
    }
    .#{$id}__floorFinder {
      display: none;
    }
  }

  .#{$id}__floorFinder {
    position: fixed;
    top: 60%;
    left: -53px;
    width: 150px;
    padding: 10px 0;
    background-color: #c9a361;
    color: #fff;
    text-align: center;
    transform: rotate(270deg);
    z-index: 9997;
    &:hover {
      background-color: #b88c3f;
    }
    @include media-query(md) {
      top: 55%;
    }

    @include media-query(xmd) {
      top: 45%;
    }
    @include media-query(sm) {
      top: 55%;
    }
  }
}
