@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .page-width--narrow {
    .section-header {
      margin-bottom: 20px;
    }
  }
  &__container {
    background-color: #f2f4f7;
    margin-bottom: 20px;
    @media screen and (max-width: 767px) {
      & {
        margin-left: -30px;
        width: calc(100% + 60px);
        border-left: none;
        border-right: none;
        overflow: hidden;
      }
    }
    & .#{$id}__box {
      display: flex;
      justify-content: space-between;
      padding: 14px 28px;
      & .#{$id}__item {
        display: flex;
        align-items: center;
        gap: 12px;

        @media screen and (max-width: 767px) {
          & svg {
            width: 20px;
            height: 20px;
          }
        }

        & span {
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.45px;
          @media screen and (max-width: 767px) {
            & {
              font-size: 11px;
              line-height: 15px;
            }
          }
        }
      }
    }
  }
}
