@charset "UTF-8";
.MH01 body > .MH01__elementWrapper {
  display: none;
}
@media screen and (min-width: 1024px) {
  .MH01 .MH01__modalWrapper div.l\:w-\[850px\] {
    width: 956px;
  }
}
@media screen and (min-width: 1024px) {
  .MH01 .MH01__modalWrapper span.l\:text-ocean {
    left: 18px;
    top: 18px;
  }
}
@media screen and (max-width: 1023px) {
  .MH01 .MH01__modalWrapper span.l\:text-ocean {
    top: 16px;
    right: 16px;
    background: #fff;
    color: #000;
    padding: 0;
    width: 16px;
    height: 16px;
  }
}
.MH01 .MH01__modalWrapper .grid-flow-row.MH01__gridWrapper {
  grid-template-columns: minmax(0, 484px) minmax(0, 338px);
  grid-template-areas: "col1 col2";
  padding: 40px 38px 40px 40px;
  grid-gap: 56px;
}
.MH01 .MH01__modalWrapper .grid-flow-row.MH01__gridWrapper .px-4.pt-10 {
  padding: 0;
  grid-area: col1;
}
@media screen and (max-width: 1023px) {
  .MH01 .MH01__modalWrapper .grid-flow-row.MH01__gridWrapper .px-4.pt-10 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.MH01 .MH01__modalWrapper .grid-flow-row.MH01__gridWrapper > div[class="l:hidden l:h-0"] {
  display: none;
}
@media screen and (max-width: 1023px) {
  .MH01 .MH01__modalWrapper .grid-flow-row.MH01__gridWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 0;
    padding: 14px 16px 40px 16px;
  }
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper {
  grid-area: col2;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1215686275);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1215686275);
  height: -moz-max-content;
  height: -webkit-max-content;
  height: max-content;
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-imageWrapper .MH01__elementContainer-image {
  position: relative;
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-imageWrapper .MH01__elementContainer-image img {
  max-height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
@media screen and (max-width: 1023px) {
  .MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-imageWrapper .MH01__elementContainer-image img {
    height: 250px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-imageWrapper .MH01__elementContainer-image .MH01__pileBox {
  position: absolute;
  bottom: 13px;
  left: 12px;
}
@media screen and (max-width: 1023px) {
  .MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-imageWrapper .MH01__elementContainer-image .MH01__pileBox {
    display: none;
  }
}
@media screen and (max-width: 1023px) {
  .MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-imageWrapper {
    width: 45%;
  }
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-content {
  margin: 14px 0 0 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0509803922);
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-content p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #06213d;
  margin-bottom: 4px;
}
@media screen and (max-width: 1023px) {
  .MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-content p {
    font-size: 10px;
    line-height: 16px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-content h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #06213d;
  margin-bottom: 7px;
}
@media screen and (max-width: 1023px) {
  .MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-content h2 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 8px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-content div.MH01__priceWarpper {
  margin-bottom: 4px;
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-content div.MH01__priceWarpper span.perSharePrice {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #06213d;
}
@media screen and (max-width: 1023px) {
  .MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-content div.MH01__priceWarpper span.perSharePrice {
    font-size: 13px;
  }
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-content div.MH01__priceWarpper span.perShareText {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #06213d;
}
@media screen and (max-width: 1023px) {
  .MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-content div.MH01__priceWarpper {
    margin-bottom: 5px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-content h5 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #6b6b6b;
  margin-bottom: 12px;
}
@media screen and (max-width: 1023px) {
  .MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-content h5 {
    display: none;
  }
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-content .MH01__pileBox {
  display: none;
}
@media screen and (max-width: 1023px) {
  .MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-content .MH01__pileBox {
    display: block;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-content .MH01__pileBox [data-ontrack-id=property-title-pills-box] {
    gap: 0;
  }
  .MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-content .MH01__pileBox [data-ontrack-id=property-title-pills-box] > div {
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
  }
  .MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-content .MH01__pileBox [data-ontrack-id=property-title-pills-box] > div:last-child {
    margin-left: 15px;
  }
}
@media screen and (max-width: 1023px) {
  .MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection .MH01__elementContainer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 55%;
    margin: 0;
    padding-left: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: none;
  }
}
@media screen and (max-width: 1023px) {
  .MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 8px;
    padding-bottom: 16px;
  }
  .MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-mainSection::after {
    content: "";
    display: block;
    width: calc(100% + 32px);
    position: absolute;
    margin-left: -16px;
    border-bottom: 1px solid rgba(6, 33, 61, 0.1019607843);
    bottom: 0;
  }
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-footer {
  padding: 12px 24px 16px 12px;
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-footer-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #06213d;
  margin-bottom: 12px;
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-footer-content .grid {
  grid-template-columns: 18px minmax(0, 1fr);
  -moz-column-gap: 12px;
       -webkit-column-gap: 12px;
       column-gap: 12px;
  margin-bottom: 8px;
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-footer-content .grid i {
  font-size: 18px;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-footer-content .grid .typo-body {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-footer-content .grid:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1023px) {
  .MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__elementContainer-footer {
    display: none;
  }
}
.MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__element-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  margin-bottom: 10px;
  display: none;
}
@media screen and (max-width: 1023px) {
  .MH01 .MH01__modalWrapper .MH01__elementWrapper .MH01__element-title {
    display: block;
  }
}
@media screen and (max-width: 1023px) {
  .MH01 .MH01__modalWrapper .MH01__elementWrapper {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    margin-bottom: 20px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
.MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) {
  padding-top: 15px;
}
.MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > .mb-5 {
  margin-bottom: 8px;
}
.MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > .mb-5 .typo-head-a {
  font-size: 0;
}
.MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > .mb-5 .typo-head-a::after {
  content: "Mehr Informationen erhalten";
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #06213d;
}
@media screen and (max-width: 1023px) {
  .MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > .mb-5 {
    display: none;
  }
}
.MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > .mb-8:not(.text-dark-grey) {
  display: none;
}
.MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > .mb-8.text-dark-grey {
  font-size: 0;
  margin-bottom: 37px;
}
.MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > .mb-8.text-dark-grey button {
  font-size: 0;
  font-style: normal;
  padding-right: 3px;
  padding-left: 3px;
}
.MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > .mb-8.text-dark-grey button::after {
  content: "einloggen,";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #06213d;
}
.MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > .mb-8.text-dark-grey::before {
  content: "Jetzt Formular ausfüllen oder";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #06213d;
}
.MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > .mb-8.text-dark-grey::after {
  content: "um das Exposé und weitere Informationen zu erhalten!";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #06213d;
}
@media screen and (max-width: 1023px) {
  .MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > .mb-8.text-dark-grey {
    margin-bottom: 24px;
  }
}
.MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > form > div:first-child {
  margin-top: 0;
}
.MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > form > div:nth-child(3) {
  margin-top: 12px;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}
.MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > form > div:nth-child(3) label.typo-label p {
  font-size: 0;
}
.MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > form > div:nth-child(3) label.typo-label p::before {
  content: "Ich stimme der";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #646464;
}
.MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > form > div:nth-child(3) label.typo-label p::after {
  content: "zu und damit einverstanden, von MYNE per E-Mail oder Telefon für Fragen oder zu Informationszwecken kontaktiert zu werden.*";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #646464;
}
.MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > form > div:nth-child(3) label.typo-label p a {
  font-size: 0;
  padding-left: 3px;
  padding-right: 3px;
}
.MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) > form > div:nth-child(3) label.typo-label p a::after {
  content: "Datenschutzerklärung";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #646464;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
@media screen and (max-width: 1023px) {
  .MH01[lang=de] .MH01__gridWrapper .relative.w-full.scroll-mt-head-s > div:not(.w-full) {
    padding-top: 0;
  }
}
.MH01[lang=en] .MH01__gridWrapper .relative.w-full > div:not(.w-full) > .mb-5 {
  margin-bottom: 8px;
}
.MH01[lang=en] .MH01__gridWrapper .relative.w-full > div:not(.w-full) > .mb-5 .typo-head-a {
  font-size: 0;
}
.MH01[lang=en] .MH01__gridWrapper .relative.w-full > div:not(.w-full) > .mb-5 .typo-head-a::after {
  content: "Get more information";
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #06213d;
}
@media screen and (max-width: 1023px) {
  .MH01[lang=en] .MH01__gridWrapper .relative.w-full > div:not(.w-full) > .mb-5 {
    display: none;
  }
}
.MH01[lang=en] .MH01__gridWrapper .relative.w-full > div:not(.w-full) > .mb-8:not(.text-dark-grey) {
  display: none;
}
.MH01[lang=en] .MH01__gridWrapper .relative.w-full > div:not(.w-full) > .mb-8.text-dark-grey {
  font-size: 0;
  margin-bottom: 37px;
}
.MH01[lang=en] .MH01__gridWrapper .relative.w-full > div:not(.w-full) > .mb-8.text-dark-grey button {
  font-size: 0;
  font-style: normal;
  padding-right: 3px;
  padding-left: 3px;
}
.MH01[lang=en] .MH01__gridWrapper .relative.w-full > div:not(.w-full) > .mb-8.text-dark-grey button::after {
  content: "log in";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #06213d;
}
.MH01[lang=en] .MH01__gridWrapper .relative.w-full > div:not(.w-full) > .mb-8.text-dark-grey::before {
  content: "Fill out the form now or";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #06213d;
}
.MH01[lang=en] .MH01__gridWrapper .relative.w-full > div:not(.w-full) > .mb-8.text-dark-grey::after {
  content: "to receive the exposé and further information!";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #06213d;
}
.MH01[lang=en] .MH01__gridWrapper .relative.w-full > div:not(.w-full) > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.MH01[lang=en] .MH01__gridWrapper .relative.w-full > div:not(.w-full) > form > div:first-child {
  margin-top: 0;
}
.MH01[lang=en] .MH01__gridWrapper .relative.w-full > div:not(.w-full) > form > div:nth-child(3) {
  margin-top: 12px;
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
}
.MH01[lang=en] .MH01__gridWrapper .relative.w-full > div:not(.w-full) > form > div:nth-child(3) label.typo-label p {
  font-size: 0;
}
.MH01[lang=en] .MH01__gridWrapper .relative.w-full > div:not(.w-full) > form > div:nth-child(3) label.typo-label p::before {
  content: "I agree to the";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #646464;
}
.MH01[lang=en] .MH01__gridWrapper .relative.w-full > div:not(.w-full) > form > div:nth-child(3) label.typo-label p::after {
  content: "declaration and being contacted by MYNE by email or phone for questions or for information purposes.*";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #646464;
}
.MH01[lang=en] .MH01__gridWrapper .relative.w-full > div:not(.w-full) > form > div:nth-child(3) label.typo-label p a {
  font-size: 0;
  padding-left: 3px;
  padding-right: 3px;
}
.MH01[lang=en] .MH01__gridWrapper .relative.w-full > div:not(.w-full) > form > div:nth-child(3) label.typo-label p a::after {
  content: "data protection";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #646464;
  -webkit-text-decoration: underline;
  text-decoration: underline;
}