/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable font-family-name-quotes */
@import './variables';
@import '../src/lib/shared/shared';

.#{$id} {
    img{
        max-width: 100%;
        height: auto;
    }

    &__hide {
        display: none;
    }

    .desktop-show{
        display: block;

        &.inline{
            display: inline-block;
            @include media-query(sm){
                display: none;
            }
        }
        @include media-query(sm){
            display: none;
        }
    }

    .desktop-hide{
        display: none;

        @include media-query(sm){
            display: block;
        }
    }

    
    .bm-carousel, .current-picks-widget{
        margin-top: 0;
        @include media-query(sm){
        }
    }

    &__bluebtn{
        display: block;
        width: max-content;
        padding: 6px 22px;
        color: #fff !important;
        font-weight: 600;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        background-color: #0275D8;
        border-radius: 4px;
        box-shadow: 0 2px 2px rgba(0 0 0 / 25%);

        &:hover{
            text-decoration: none !important;
            background-color: #025aa5;
        }
    }

    &__disclaimer{
        
        margin: 12px auto;
        color: #000;
        font-size: 12px;
        font-family: 'Roboto';
        line-height: 1.2;
        a{
            display: inline-block !important;
        }

        @include media-query(sm){
            margin-top: 6px;
        }
    }

    &__learnmore{
        display: block;
        width: max-content;
        padding: 3px 6px;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        border: 1px solid #006BDB;

        &:hover{
            color: #fff !important;
            text-decoration: none !important;
            background-color: #0b4066;
            border-color: #0b4066;
        }
    }

    .#{$id}__toprow{
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            h2.card-title{
                padding-left: 0;
        }
    }

     &__bookmakercards{
        padding-bottom: 30px;
        overflow: hidden;
        font-family: 'Titillium Web';
        background-color: #fff
        

        h1{
            font-size: 24px;
            line-height: 1.2;
        }

        .#{$id}__toprow{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .swiper-button-prev{
            top: auto;
            bottom: -3px;
            left: calc(50% - 50px);
            transform: translateX(-50%);

            &::after{
                font-size: 10px;
            }
        }

        .swiper-button-next{
            top: auto;
            bottom: -3px;
            left: calc(50% + 50px);
            transform: translateX(-50%);
            
            &::after{
                font-size: 10px;
            }
        }
    }

    &__bookmakercards{
        padding-top: 20px;
        padding-bottom: 12px;
        background-color: #fff;

        & + .ov-flow-hidden{
            display: none;
        }

        .swiper-pagination{
            display: none;
        }

        a{
            display: block;
        }

       
        &.vertical{
            .swiper-vertical{
                height: 450px;
            }

            .#{$id}__learnmore{
                width: 100%;
                margin: 12px auto 0;
                padding: 4px 10px;
                color:#0275D8 ;
                font-size: 14px;
                border-radius: 4px;
            }
        }

        .#{$id}__learnmore{

            @include media-query(sm){
                width: 100%;
                margin: 12px auto 0;
                padding: 4px 10px;
                font-size: 14px;
                border-radius: 4px;
            }
        }
    }

   

    &__bookmakercard{
        background:  #F8F8F8;
        border-radius: 4px;

        &>a{
            width: 100%;
            max-width: 130px;
            margin: 0 auto;
            @include media-query(sm){
                max-width: 174px;
            }
        }

        img{
            max-width: 100%;
            height: auto;
            border-radius: 4px 4px 0 0;
        }
        .#{$id}__bluebtn{
            width: 100%;
            padding: 5px 16px;
            font-size: 14px;
        }

        &-btnrow{
            padding: 8px;

            
        }

        &.vertical{
            display: flex;
            align-items: center;
            @include media-query(sm){
                flex-direction: column;
            }

            &>a{
                max-width: 108px;
                margin-right: 0;
                margin-left: 0;
                @include media-query(sm){
                    width: 100%;
                    max-width: 174px;
                    margin: 0 auto;
                }
            }

            img{
                border-radius: 4px; 
            }

            .#{$id}__bookmakercard-btnrow{
                flex-grow: 2;
                @include media-query(sm){
                    width: 100%;
                }
            }

            .#{$id}__bluebtn{
                font-size: 16px;
            }

            .row-bookmakercard{
                color: #363535;
                font-weight: 700;
                font-size: 16px;
                font-family: 'Roboto';
                line-height: 1.3;

                &:hover{
                    text-decoration: none;
                }
            }
        }

    }
    
 
}
