/* stylelint-disable no-descending-specificity */
/* stylelint-disable import-notation */
@import './variables';

 @import './form.css';
@import '../src/lib/shared/shared';

// @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');


.#{$id} {
    &__hide {
        display: none;
    }

    &__hidescroll {
        overflow-y: hidden;

        @media screen and (max-width: 850px) and (orientation:landscape) {
            overflow-y: scroll;
        }
        @include media-query(sm) {
            overflow-y: scroll;
        }
    }

    &__container {
        width: 100%;
        max-width: 1330px;
        margin: 0 auto;
        padding: 0 20px;
        color: #000;


        h1 {
            margin: 50px 0;
            font-weight: 700;
            font-size: 70px;
            line-height: 82px;
            letter-spacing: -.03em;

            @include media-query(lg) {
                font-size: 32px;
                line-height: 38px
            }

            span {
                display: block;
            }

        }

        h2 {
            margin: 25px 0;
            font-weight: 700;
            font-size: 60px;
            line-height: 1.3;
            letter-spacing: -.03em;

            @include media-query(lg) {
                font-size: 32px;
                line-height: 38px
            }

            span {
                display: block;
            }
        }


        h3 {
            margin: 25px 0;
            font-weight: 700;
            font-size: 50px;
            line-height: 1.3;
            letter-spacing: -.03em;

            @include media-query(lg) {
                font-size: 20px;
            }

            span {
                display: block;
            }

        }

        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;

            @include media-query(lg) {
                font-size: 16px;
                line-height: 22px
            }

            &.bold {
                font-weight: 700;
            }

            & span.highlight {
                color: #19288a;
            }

            &.small {
                font-size: 14px;
                line-height: 22px;
            }
        }

        form {
            position: relative;
            width: 100%;
            max-width: 450px;
            margin-top: 20px;

            @include media-query(lg) {
                max-width: 350px;
            }
        }

        // @include media-query(lg) {
        //     padding: 0 50px;
        // }
    }


    &__header {
        position: relative;
        display: flex;
        align-items: center;
        height: 80px;
        padding: 0 32px;
        background-color: $brand-gray-primary;

        @include media-query(lg) {
            height: 60px;
        }

        &--logo {
            position: relative;
            width: 100%;
            max-width: 1330px;
            margin: 0 auto;
        }

        .#{$id}__navtab {
            position: absolute;
            top: calc(100% + 40px);
            left: 0;
            z-index: 1;
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 600px;
            padding-bottom: 4px;

            @include media-query(md) {
                justify-content: space-between;
                font-size: 14px;
            }

            @include media-query(md) {
                max-width: 500px;
            }

            @include media-query(sm) {
                font-size: 12px;
            }


            &.desktop-view {
                display: flex;

                @include media-query(sm) {
                    display: none;
                }
            }

            &.mobile-view {
                display: none;

                @include media-query(sm) {
                    display: flex;
                }
            }

            &>div:not(:last-child) {
                margin-right: 32px;

                @include media-query(md) {
                    margin-right: 10px;
                }

                @include media-query(md) {
                    margin-right: 0;
                }
            }

            &::after {
                position: absolute;
                top: calc(100% + 10px);
                left: 0;
                width: 30%;
                max-width: calc(100% / 3);
                height: 2px;
                background-color: #000;
                transition: all .3s ease;
                content: '';

                @include media-query(md) {
                    top: calc(100% + 4px);
                    max-width: calc(100% / 3.2);
                }

                @include media-query(sm) {
                    top: calc(100% + 4px);
                    max-width: calc(100% / 4.2);
                }
            }

            &.step-1 {
                &::after {
                    left: 0;
                }
            }

            &.step-2 {
                &::after {
                    left: 32%;


                    // @include media-query(md) {
                    //     width: 120px;
                    // }

                    // @include media-query(sm) {
                    //     left: 46%;
                    //     width: 100px;
                    // }

                    // @include media-query(xsm) {
                    //     left: 43%;
                    //     width: 50px;
                    // }
                }
            }

            &.step-3 {
                &::after {
                    left: 66%;


                    // @include media-query(md) {
                    //     width: 80px;
                    // }

                    // @include media-query(sm) {
                    //     left: 84%;
                    //     width: 64px;
                    // }

                    // @include media-query(xsm) {
                    //     left: 75%;
                    //     width: 40px;
                    // }
                }
            }

            &--step {
                width: 100%;
            }
        }
    }

    &__collectname {
        // padding: 0 50px;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        padding-top: 120px !important;

        &.#{$id}__container {
            max-width: 100%;
            height: 100%;
            padding: 0;
        }

        .#{$id}__page-wrapper {
            width: 100%;
            max-width: 1330px;
            height: 100vh;
            margin: 0 auto;
            padding: 0 70px;


            @include media-query(lg) {
                padding: 0 100px;
            }

            @include media-query(sm) {
                padding: 0 20px;
                text-align: center;
            }

            form {
                @include media-query(sm) {
                    margin: 20px auto 0;
                }
            }

        }

        // text-align: center;

        p {
            font-weight: 700;
        }

    }


    &__confirmlocation,
    &__scanning {
        background: linear-gradient(90deg, #fff 50%, $brand-gray-secondary 50%);

        @include media-query(lg) {
            background: #fff;
        }

        &.#{$id}__container {
            max-width: 100%;
            height: 100%;
            padding: 0;
        }

        .#{$id}__page-wrapper {
            display: grid;
            grid-template-columns: 2fr 1fr;
            width: 100%;
            max-width: 1330px;
            height: 100vh;
            margin: 0 auto;

            @include media-query(xlg) {
                padding: 0 32px;
            }

            @include media-query(lg) {
                grid-template-columns: 1fr;
                height: auto;
                padding: 0 20px;
            }

        }


        &--col1 {
            width: 100%;
            padding-top: 100px;
            padding-right: 40px;
            background-color: #fff;

            @include media-query(lg) {
                padding-right: 0;
            }

            h1,
            p {
                width: 80%;
                margin-bottom: 32px;

                @include media-query(lg) {
                    width: 100%;

                }
            }

        }

        &--col2 {
            width: 100%;
            padding: 100px 0 0 45px;
            overflow-x: hidden;

            @include media-query(lg) {
                display: flex;
                align-items: center;
                margin-top: 40px;
                padding: 0 20px 20px;
                background-color: $brand-gray-secondary;
                box-shadow: 0 0 0 100vmax $brand-gray-secondary;
                clip-path: inset(0 -100vmax);
            }

            @media screen and (max-width:1025px) {
                max-width: 320px;
            }

            @include media-query(sm) {
                flex-direction: column;
                align-items: flex-start;
                padding-top: 20px;
            }

            &>div:last-child {
                margin: 0 auto;

                @include media-query(lg) {
                    margin: 0;
                    padding-left: 20px;
                }

                @include media-query(sm) {
                    padding-left: 0;

                }

            }



            h3 {
                margin-bottom: 0;
            }


        }

        .#{$id}__pill-button {
            display: inline-block;
            width: 120px;
            margin-right: 20px;
            padding: 12px 20px;
            color: #000;
            font-size: 20px;
            background-color: #fff;
            border: 1px solid #000;
            border-radius: 36px;
            outline: none;
            cursor: pointer;

            &:hover {
                transform: scale(1.02);
            }

            &.#{$id}__brand-yellow {
                color: #fff;
                background-color: #f08d0b;
                border-color: #f08d0b;
            }
        }

    }


    &__getlocal,
    &__getemail {
        &--input.common-input {
            background: #fff;
            border: 2px solid $brand-gray-tertiary;

            &+label {
                color: $brand-gray-tertiary;
            }

            &:focus+label {
                margin-top: -6px;
                background-color: #fff;
            }
        }

        &--submit.common-submit {
            background-color: #f08d0b;
            border-color: #f08d0b;
        }

        // &--form .#{$id}__searchsuggestions{
        //     display: block;
        // }
    }

    &__initialscandata {
        p:first-child {
            margin-bottom: 10px;
            font-size: 32px;

        }
    }

    &__scanning {
        &--col1 {
            padding-top: 15%;

            @include media-query(lg) {
                padding-top: 25%;

            }

            p {
                width: 100%;
            }
        }

        &--col2 {
            @include media-query(lg) {
                padding-top: 20px;

            }
        }

        &-progress {
            width: 100%;
            max-width: 500px;
            height: 50px;
            color: #fff;
            background-color: $brand-gray-secondary;
            border-radius: 36px;

            &-animation {
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;
                background-color: rgb(23 41 137);
                border-radius: 36px;
                transition: all 0.3s ease-in-out;

                span {
                    padding-left: 30px;
                }
            }
        }
    }

    &__scanresults--page {
        background-color: #e5e5e5;
    }

    &__scanresults {
        padding-top: 120px;

        &--fullname {
            display: inline-block;
            width: 100%;
            max-width: 250px;
            margin-bottom: 16px;
            padding: 0 20px 5px 0;
            color: #666;
            font-size: 20px;
            line-height: 1.3;
            text-transform: capitalize;
            border-bottom: 2px solid #666;

        }

        &--scancount {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            max-width: 200px;
            padding: 32px 20px;
            text-align: center;
            background-color: #fff;

            .count {
                width: 100%;
                margin-right: 5px;
                font-weight: 700;
                font-size: 24px;
                line-height: 1.3;

                span {
                    display: block;

                }

                span:last-child {
                    display: inline-block;
                    margin-top: 16px;
                    padding: 4px 8px;
                    color: #fff;
                    font-weight: 700;
                    font-size: 14px;
                    background-color: #f08d0b;
                }
            }

            .text {
                position: relative;

                span {
                    display: block;
                    width: 24px;
                    height: 24px;
                    padding: 5px;
                    color: #fff;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 1;
                    background-color: $brand-gray-tertiary;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }

        &--why {
            display: block;
            padding: 16px 20px;
            color: #7fa5b6;
            font-weight: 700;
            background-color: #fff;
        }

        &--resultheader,
        &--resultrow {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            align-items: center;
            padding: 32px 20px 16px;
            color: #646571;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.3;

            // text-align: center;
            background-color: #fff;

            @include media-query(md) {
                grid-template-columns: repeat(2, 1fr);
            }

            .col4,
            .col5 {
                text-align: center;
            }

            .mobile-view {
                display: none;

                @include media-query(md) {
                    display: block;
                }
            }

            .desktop-view {
                display: block;

                @include media-query(md) {
                    display: none;
                }
            }
        }

        &--resultrow {
            border-top: 2px solid #e5e5e5;
            cursor: pointer;

            .record-age,
            .record-removaltime {
                text-align: center;

            }

            .record-age {
                @include media-query(md) {
                    text-align: left;
                }
            }


        }

        &--resultfooter {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 32px 0;
            padding: 32px 20px;
            background-color: #fff;

            @include media-query(lg) {
                flex-direction: column;
                text-align: center;
            }

            li {
                margin-left: 20px;

                @include media-query(lg) {
                    margin-top: 20px;
                    margin-left: 0;

                }
            }
        }
    }

    &__scanresults--joinbtn {
        list-style: none !important;

        @include media-query(md) {
            position: absolute;
            top: calc(100% + 20px);
        }

        a {
            font-size: 14px;
        }
    }

    &__recordmodal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;

        // background-color: transparent;
        background-color: rgba(0 0 0 / 40%);




        .#{$id}__modalcontent {
            position: relative;
            width: 50%;
            max-width: 600px;
            height: auto;
            min-height: 100vh;
            margin-left: auto;
            padding: 80px 20px 30px;
            background-color: #fff;
            box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
            animation: slide-in-right 0.5s cubic-bezier(0.075, 0.820, 0.165, 1.000) both;

            &.why {
                top: 40%;
                width: 100%;
                max-width: 600px;
                height: auto;
                min-height: 200px;
                margin: 0 auto;
                padding: 40px 30px 30px;
                color: #000;
                transform: translateY(-50%);
                animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

                h2 {
                    margin-bottom: 20px;
                }

                .#{$id}__modalclose {
                    top: 0;
                    right: 10px;
                }

                &.close {
                    animation: fade-out 0.2s ease-out both;
                }

            }


            @include media-query(lg) {
                width: 80%;
            }

            @include media-query(sm) {
                width: 100%;
            }

            &.close {
                animation: slide-out-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            }

            .#{$id}__modalclose {
                position: absolute;
                top: 20px;
                right: 20px;
                display: block;
                font-size: 46px;
                line-height: 1;
                cursor: pointer;
            }
        }
    }

    &__recordInfo {
        display: flex;
        flex-direction: column;

        h2 {
            margin-bottom: 32px;
            color: #000;
        }

        .row1,
        .row2 {
            display: flex;
            align-items: center;
            width: 80%;
            margin-bottom: 16px;
            font-weight: 700;

            &>span:first-child {
                margin-right: auto;
            }

            &>span:last-child {
                width: 150px;
                text-align: left;
            }
        }
    }

    &__purchasebanner {
        margin-top: 40px;
        padding: 60px 32px 32px;
        color: #000;
        background-color: #ffffcb;

        &>div:not(:last-child) {
            margin-bottom: 16px;
        }

        .checkmark {
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }

        .benefit {
            display: flex;
            align-items: center;
        }

        .btn-row {
            display: flex;
            align-items: center;
            margin-top: 32px;


            @include media-query(sm) {
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;

            }

            .pricing-info {
                @include media-query(sm) {
                    margin-bottom: 16px;
                }
            }

            a {
                max-width: 250px;
                margin-right: 16px;

                @include media-query(sm) {
                    margin-right: 0;
                    margin-bottom: 16px;
                }
            }
        }
    }

    &__questiontooltip {
        position: absolute;
        top: calc(100% + 10px);
        left: 50%;
        width: 300px;
        padding: 10px;
        text-align: left;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        transform: translateX(-50%);

        &::after {
            position: absolute;
            bottom: 100%;

            /* At the top of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-color: transparent transparent #fff;
            border-style: solid;
            border-width: 5px;
            content: " ";
        }
    }
}

#reviewBadgeWidgetInner {
    display: none !important;
}


@keyframes slide-in-right {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes slide-out-right {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(1000px);
        opacity: 1;
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}