/* stylelint-disable rule-empty-line-before */
/* stylelint-disable order/properties-order */
/* stylelint-disable no-descending-specificity */
.common-input {
    z-index: 1;
    width: 100%;
    height: 66px;
    padding: 14px 138px 14px 32px;
    color: #040507;
    font-size: 20px;
    line-height: 34px;
    background: linear-gradient(0deg, #f08d0b, #f08d0b), linear-gradient(269.91deg, #4ea848 -41.74%, #fff 101.72%);
    border: 2px solid #f08d0b;
    border-radius: 36px;
    appearance: none;
}

@media only screen and (max-width: 1023px) {
    .common-input {
        width: 100%;
        height: 54px;
        padding-right: 118px;
        padding-left: 24px;
        font-size: 16px;
        line-height: 22px;
    }
}

.common-input+label {
    position: absolute;
    top: 0 !important;
    left: 0 !important;
    z-index: 2;
    margin-top: 14px;
    margin-left: 28px;
    color: #040507;
    font-size: 20px;
    line-height: 34px;
    transition: font-size .2s, margin-top .2s;
    user-select: none;
    pointer-events: none
}

@media only screen and (max-width: 1023px) {
    .common-input+label {
        margin-left: 22px;
        font-size: 14px;
        line-height: 22px;
    }
}

.common-input:focus {
    outline: none;
}


.common-input:focus+label,
.common-input[not-empty]+label {
    margin-top: 6px;
    padding: 0 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    outline: none;
}

.common-submit {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 130px;
    height: 100%;
    max-height: 66px;
    padding: 0;
    color: #fff;
    font-size: 20px;
    line-height: 34px;
    background: #000;
    border: none;
    border-radius: 36px;
    cursor: pointer;

    /* transition: all 0.2s ease-in; */

}

.common-submit:hover {
    transform: scale(1.02);
}

@media only screen and (max-width: 1023px) {
    .common-submit {
        width: 113px;
        height: 54px;
        font-size: 16px;
        line-height: 22px
    }
}



.common-input-block {
    position: relative;
    display: inline-block
}

.common-input-block.not-colored .common-input {
    padding-top: 11px;
    padding-right: 16px;
    padding-bottom: 11px
}

.common-input.not-colored:focus+label,
.common-input.not-colored[not-empty]+label {
    margin-top: -6px;
    padding: 0 5px;
    background-color: #fff;

}

.common-input-block.not-colored .common-submit {
    width: 154px;
    color: #000;
    background: #f08d0b;
}


@media only screen and (max-width: 1023px) {
    .common-input-block.not-colored .common-submit {
        position: relative;
        width: 100%;
        height: 42px;

    }
}

.common-input-block.not-colored label {
    color: #cdcdcd;
    background: #fff
}

.common-input-block.not-colored.error #stripe-card,
.common-input-block.not-colored.error input,
.common-input-block.not-colored.error select {
    border-color: #fd4c5c !important
}

.common-input-block.not-colored.error label {
    color: #fd4c5c !important
}

@media only screen and (max-width: 1023px) {
    .common-input-block {
        display: flex;
        flex-direction: column
    }
}

.common-input-block .select-icon {
    position: absolute;
    top: 25px;
    right: 23px;
}

.input-error {
    margin-left: 30px;
    color: #fd4c5c;
    font-size: 16px;
    line-height: 25px;
}

@media only screen and (max-width: 1023px) {
    .input-error {
        height: auto;
        margin-left: 22px;
    }
}

.checkbox-block {
    display: inline-block;
    width: 100%;
    padding-top: 17px
}

.checkbox-block [type=checkbox]:checked,
.checkbox-block [type=checkbox]:not(:checked) {
    position: absolute;
    left: -9999px;
    transition: .15s ease
}

.checkbox-block [type=checkbox]:checked+label,
.checkbox-block [type=checkbox]:not(:checked)+label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14px;
    line-height: 150%;
    display: inline-block;
    top: 0;
    transition: background .15s ease-out, border .15s ease-out
}

@media only screen and (max-width: 1023px) {

    .checkbox-block [type=checkbox]:checked+label,
    .checkbox-block [type=checkbox]:not(:checked)+label {
        top: 5px;
        padding-left: 35px
    }
}

.checkbox-block [type=checkbox]:not(:checked)+label::before {
    content: "";
    position: absolute;
    left: -4px;
    top: -3px;
    width: 22px;
    height: 22px;
    border: 1px solid #c4c4c4;
    background: #fff;
    border-radius: 3px;
    transition: background .15s ease-out, border .15s ease-out
}

@media only screen and (max-width: 1023px) {
    .checkbox-block [type=checkbox]:not(:checked)+label::before {
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border-radius: 4px
    }
}

.checkbox-block [type=checkbox]:checked+label::before {
    content: "";
    position: absolute;
    left: -4px;
    top: -3px;
    width: 22px;
    height: 22px;
    border: 1px solid #c4c4c4;
    background: #fff;
    border-radius: 3px;
    transition: background .15s ease-out, border .15s ease-out
}

@media only screen and (max-width: 1023px) {
    .checkbox-block [type=checkbox]:checked+label::before {
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border-radius: 4px
    }
}

.checkbox-block [type=checkbox]:not(:checked)+label::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg)
}

@media only screen and (max-width: 1023px) {
    .checkbox-block [type=checkbox]:not(:checked)+label::after {
        left: 6px;
        top: 2px
    }
}

.checkbox-block [type=checkbox]:checked+label::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid #ffbd12;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg)
}

@media only screen and (max-width: 1023px) {
    .checkbox-block [type=checkbox]:checked+label::after {
        left: 6px;
        top: 2px
    }
}

.checkbox-block [type=checkbox]:disabled:checked+label::before,
.checkbox-block [type=checkbox]:disabled:not(:checked)+label::before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd
}

.checkbox-block [type=checkbox]:disabled:checked+label::after {
    color: #999
}

.checkbox-block [type=checkbox]:disabled+label {
    color: #aaa
}

.checkbox-block [type=checkbox]+label.touch-hover::before,
.checkbox-block [type=checkbox].touch-hover+label::before {
    border: 1px solid #a2b1fd !important
}

.checkbox-block a {
    color: #000;
    text-decoration: underline
}

.checkbox-block.error [type=checkbox]+label::before {
    border-color: #fd4c5c !important
}

.checkbox-block.error [type=checkbox]+label,
.checkbox-block.error [type=checkbox]+label>a {
    color: #fd4c5c
}

.DM11__swiper {
    width: 100%;
    position: relative;
    height: 280px;
}

.DM11__swiper-wrapper {
    color: #000;
    font-size: 24px;
    line-height: 36px;
    font-style: italic;
}

.DM11__swiper .swiper-button-prev,
.DM11__swiper .swiper-button-next {
    display: flex;
    top: 90%;
    width: 70px;
}

.DM11__swiper .swiper-button-prev {
    left: 0;
    justify-content: flex-start;
}

.DM11__swiper .swiper-button-next {
    transform: rotate(-180deg);
    right: 0;
    justify-content: flex-end;
}

.DM11__swiper .swiper-button-prev::after,
.DM11__swiper .swiper-button-next::after {
    display: none;
}

.DM11__swiper-wrapper a {
    height: auto;
    color: #000;
    text-decoration: none;

}

.DM11__swiper-wrapper a:hover {
    color: #000;

}

@media only screen and (max-width: 1023px) {
    .DM11__swiper {
        padding-left: 0 !important;
        height: 170px;
    }
}

@media only screen and (max-width: 600px) {
    .DM11__swiper {
        height: 200px;
    }
}