@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
    &__discountProgressCard {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 108px;
        gap: 18px;
        border-radius: 4px;
        background: #F1F1F1;
        text-transform: none !important;

        @include media-query(sm) {
            height: 70px;
            padding: 0 12px;
            gap: 8px;
        }

        .#{$id}__discountOfferMessage {
            display: flex;
            align-items: center;
            gap: 12px;

            &-text {
                color: #000;
                font-size: 16px;
                line-height: 19px;
                font-weight: 300;

                span {
                    font-weight: 600;
                }

                span.#{$id}__gotDiscountMessage {
                    font-weight: 500;
                    font-family: 'GillSansNova-Medium';
                }
            }
        }

        .#{$id}__discountProgress {
            height: 12px;
            width: 100%;
            background: #FFF;
            border-radius: 20px;
            overflow: hidden;

            &-bar {
                height: 100%;
                max-width: 100% !important;
                border-radius: 20px;
                background: #7C738E;
            }

            // @include media-query(sm) {
            //     height: 10px;
            //     width: 100%;
            // }
        }
    }

    &__basketProgressCard {
        margin: 0 0 18px;
        gap: 12px;

        .#{$id}__discountProgress {
            height: 10px;
            width: 407px;

            @include media-query(sm) {
                width: 100%;
            }
        }

        @include media-query(sm) {
            margin: 23px 0 16px;
            padding: 0 12px;
        }
    }

    &__miniCartProgressCard {
        height: auto;
        margin-top: 9px;
        padding: 12px;
        gap: 7px;

        .#{$id}__discountOfferMessage {
            &-text {
                font-size: 13px;
                line-height: 17px;

                @include media-query(sm) {
                    font-size: 12px;
                }
            }
        }

        .#{$id}__discountProgress {
            &-bar {
                height: 10px;
            }
        }
    }
}