@import './variables';
@import '../src/lib/shared/shared';

.#{$id} {
    &__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;


        label {
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            line-height: 27px;
        }

        input[type="checkbox"] {
            margin-right: 20px;
            cursor: pointer;


            &:checked~.checkmark {
                background-color: #000;

                &::after {
                    display: block;
                }
            }


        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            width: 25px;
            height: 25px;
            background-color: #fff;
            border: 1px solid #000;
            border-radius: 1px;
            cursor: pointer;

            &::after {
                position: absolute;
                top: 3px;
                left: 9px;
                display: none;
                width: 6px;
                height: 14px;
                border: solid white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                content: "";
            }
        }

        .question {
            margin-right: 12px;
            margin-left: 0;
            font-weight: 400;
            font-size: 14px;
            cursor: pointer;
        }

        svg {
            cursor: pointer;
        }
    }

}