@import './variables';
@import '../src/lib/shared/shared.scss';

@media (min-width: 1000px) and (max-width: 1500px) {
  .ns-20-main-container {
    padding: 80px 0px !important;
  }
}
@media (min-width: 1500px) {
  .ns-20-main-container {
    padding: 80px 153px 80px 176px;
  }
}

section.section.hero.hero--style-2.desktop_layout div.hero__overlay,
section.section.hero.hero--style-2.desktop_layout div.container,
section.section.hero.hero--style-2.desktop_layout {
  display: none !important;
}
.desktop-title {
  margin: 0 !important;
}
.ns-20-main-container {
  display: flex;
}
.ns-20-text-wrapper {
  width: 50%;
  padding-right: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ns-20-text-wrapper h1 {
  color: #00594d;
  font-family: Helvetica Neue, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 120% */
  letter-spacing: 2px;
}

.ns-20-text-wrapper h1.ns-20-text-sub-title {
  font-weight: 300 !important;
  letter-spacing: 0.4px !important;
}
.ns-20-text-content {
  color: #212529;
  font-family: Helvetica Neue, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: 0.8px;
  padding-top: 8px !important;
  margin-bottom: 0 !important;
}
.ns-20-card {
  display: flex;
  padding-right: 58px;
  gap: 16px;
}
.ns-20-card h4 {
  color: #00594e;
  font-family: Helvetica-Neue-Con, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
  letter-spacing: 0.8px;
  margin: 0 !important;
}
.ns-20-card p {
  color: #212529;
  text-align: center;
  font-family: Helvetica Neue, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: 0.7px;
  margin: 8px 0px 20px 0;
  padding-top: 0 !important;
}
.ns-20-card div {
  margin-top: 32px;
  display: flex;
  width: 220px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // gap: 20px;
  border: 1px solid #fbf4f0;
  // box-shadow: 0px -8px 38px 0px rgba(0, 0, 0, 0.25);
}
.ns-20-card a {
  color: var(--White, #fff);
  // text-align: center;
  font-family: Helvetica Neue, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.16px;
  text-transform: capitalize;
  display: flex;
  width: 180px;
  height: 44px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 41px;
  background: #23564e;
}
.ns-20-main-container .ns-20-text-wrapper + div {
  width: 50%;
}
.ns-20-main-container img {
  width: 100%;
}
.ns-20-mobile-anchor,
.mobile-title {
  display: none !important;
}
.ns-20-shop-juice-CTA {
  border: 1px solid #00594e !important;
  color: #00594e !important;
  background-color: white !important;
}

@media (min-width: 1000px) and (max-width: 1300px) {
  .ns-20-main-container {
    padding: 80px 50px !important;
  }
  .ns-20-text-wrapper h1 {
    color: #00594d;
    font-family: Helvetica Neue, sans-serif;
    font-size: 32px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 120% */
    letter-spacing: 2px;
  }
}
@media (max-width: 600px) {
  .ns-20-text-wrapper h1 {
    font-size: 24px !important;
    text-align: center;
    color: #00594d;
    text-align: center;
    font-size: 24px !important;
    font-style: normal;
    font-weight: 600 !important;
    line-height: 28px !important; /* 133.333% */
    letter-spacing: 0.48px !important;
    margin-top: 20px;
    font-family: Gill Sans !important;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .ns-20-text-wrapper h1 {
    font-size: 32px !important;
  }
}
@media (max-width: 1000px) {
  .section.hero.hero--style-2.mobile_layout {
    display: none !important;
  }
  .ns-20-main-container {
    padding: 12px !important;
  }
  .ns-20-text-wrapper {
    padding: 8px !important;
  }

  .ns-20-text-content {
    color: #212529;
    text-align: center;
    // font-family: HelveticaNeue;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.7px;
  }
  .ns-20-card {
    display: none !important;
  }
  .ns-20-mobile-anchor {
    display: flex !important;
    flex-direction: column;
    // gap: 10px;
    width: 100%;
    margin-top: 20px;
  }
  .ns-20-mobile-anchor .shop-juice {
    margin-top: 10px;
  }
  .ns-20-mobile-anchor a:last-child {
    border-radius: 36px !important;
    border: 1px solid #23564e;
    background: var(--White, #fff) !important;
    color: #00594e !important;
    margin-bottom: 40px;
  }
  .ns-20-mobile-anchor a {
    display: flex;
    width: 100%;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 41px;
    background: #23564e;
    color: var(--White, #fff);
    text-align: center;
    font-family: Helvetica Neue, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 125% */
    letter-spacing: -0.16px;
    text-transform: capitalize;
  }
  .mobile-title {
    display: block !important;
  }
  .desktop-title {
    display: none;
  }
  // .ns-20-text-wrapper h1{
  //     font-size: 32px !important;

  // }
  .ns-20-main-container {
    flex-direction: column-reverse;
    // padding: 80px 153px 80px 176px;
  }
  .ns-20-text-wrapper,
  .ns-20-main-container .ns-20-text-wrapper + div {
    width: 100%;
  }
  .ns-20-text-wrapper {
    align-items: center;
  }
  .ns-20-card {
    padding-right: 0 !important;
  }
  .ns-20-text-wrapper div:not(.ns-20-text-wrapper div.ns-20-card) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.#{$id} {
  .ns-20-main-container:not(.#{$id}__hero-section) {
    display: none;
  }

  .NU-001__hero-section {
    padding: 80px 0px 50px 218px;
    .ns-20-text-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 0 0 max(50%, 640px);
      margin-right: -200px;
      padding: 0 16px 0 20px;

      @media screen and (max-width: 1000px) {
        width: calc(100% + 24px);
        margin-left: -12px;
        padding-top: 23px !important;
        padding-bottom: 38px !important;
        background-color: #fbf4ef;
      }
    }
    .header-secondary-message {
      max-width: 600px;
      padding-left: 0;
      @media screen and (max-width: 1000px) {
        max-width: 100%;
        padding-left: 10px;
      }
    }
    .ns-20-main-container {
      padding: 80px 0px !important;
    }
    .ns-20-text-wrapper + div {
      width: max-content;

      @media screen and (max-width: 1000px) {
        width: 100%;
      }
    }
    .ns-20-main-container {
      padding: 80px 0 80px 0px;
    }
    .#{$id}__button-container {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .#{$id}__reviews {
        display: flex;
        align-items: center;
        width: 67%;
        margin: 0 auto;
        .#{$id}__text {
          font-size: 14px;
          font-weight: bold;
          color: #00594e;
        }

        .#{$id}__image {
          margin-left: 8px;
        }
      }

      @media screen and (max-width: 1000px) {
        display: none !important;
      }
    }

    .#{$id}__join-club {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 67%;
      margin-bottom: 0;

      &::after {
        top: 0;
      }
    }
    .#{$id}__shop-juice {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 67%;
      color: #00594e !important;
      margin-bottom: 0;
      &::after {
        top: 0;
      }
    }

    .#{$id}__mobile-image-wrapper {
      .#{$id}__mobile-image {
        display: none;
        @media screen and (max-width: 1000px) {
          display: block;
          object-fit: cover;
          height: 100%;
          transform: translate(-29px, 42px);
        }
      }

      @media screen and (max-width: 1000px) {
        position: relative;
        width: calc(100% + 150px);
        margin-left: -28px;
        overflow: hidden;
      }
      @media screen and (max-width: 650px) {
        width: calc(100% + 120px);
        margin-left: -12px;
      }
    }

    .#{$id}__desktop-image {
      width: calc(100% + 100px);
      height: 100%;
      object-fit: cover;
      object-position: left;
      transform: translateY(50px);
      @media screen and (max-width: 1000px) {
        display: none;
      }
      @media (min-width: 1000px) and (max-width: 1500px) {
        & {
          transform: translateY(62px);
        }
      }
    }

    .header-main-message.small {
      @media screen and (max-width: 1000px) {
        margin-bottom: 0px;
      }
    }

    .custom-shape-divider-bottom-1719447840 {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1719447840 svg {
      position: relative;
      display: block;
      width: calc(137% + 1.3px);
      height: 50px;
      transform: rotateY(180deg);
    }

    .custom-shape-divider-bottom-1719447840 .shape-fill {
      fill: #fbf4ef;
    }

    .ns-20-mobile-anchor {
      a {
        gap: 0;

        &.shop-juice {
          border: 1px solid #00594e !important;
          background-color: #fff;
          color: #00594e !important;
        }

        &::after {
          top: 0;
        }
      }
      & > a:first-child {
        color: #fff;
      }
      @media screen and (max-width: 1000px) {
        margin-top: 0px;
        margin-bottom: 0px;

        .#{$id}__reviews {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 12px;
          .#{$id}__text {
            font-size: 14px;
            font-weight: bold;
            color: #00594e;
          }

          .#{$id}__image {
            margin-left: 8px;
          }
        }
      }
    }

    @media screen and (max-width: 1000px) {
      padding: 12px 12px 0 12px !important;
    }

    @media (min-width: 1000px) and (max-width: 1500px) {
      & {
        padding: 80px 0px 62px 28px !important;
      }
    }
  }
}
