@import './variables';
@import '../src/lib/shared/shared';

.#{$id} {
    &__promo-wrapper{
        color: #fff;
        font-weight: 500;
        line-height: 1.0;
        background: #069;
        @include media-query(sm){
            display: none;
        }

        .headline{
            font-size: 22px; 
        }

        .subheadline{
            margin: 10px 0;
            font-size: 16px;  
        }

        .disclaimer{
            margin-top: 26px;
            font-weight: 400;
            font-size: 12px;
            
        }
        
        &.#{$id}__adjust-padding{
            padding: 14px 32px 10px 142px;
        }
    }

}