@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .#{$id}__timer {
    p,
    strong {
      font-size: 17px;
      line-height: 26px;
    }

    p {
      margin-bottom: 0;
    }

    strong#timeLeft {
      color: #e36b27;
    }
  }

  .product__info-container > center {
    display: none;
  }
}
