@import './variables';
@import '../src/lib/shared/shared.scss';

.#{$id} {
  .purchase-confirmation-popup {
    display: none !important;
  }

  .back-to-top[data-back-to-top] {
    bottom: 145px !important;
    z-index: 999 !important;
  }

  &__cartContainer {
    .quick-cart__footer {
      background: #F7F7F7 !important;
      clip-path: inset(0 -100vmax);
      box-shadow: 0 0 0 100vmax #F7F7F7;
      border-top: 2px solid #373737;

      .quick-cart__footer-inner {
        border-top: none;
      }
    }

    .quick-cart__heading sup {
      display: none !important;
    }

    .quick-cart__footer .btn.btn--primary {
      color: #373737 !important;
      font-size: 14px !important;
      font-weight: 800 !important;
      line-height: 16px !important;
      text-transform: uppercase;
      border-radius: 50px;
      border: 1px solid #373737;
      background: #fbcadd !important;
    }

    .quick-cart__item-bottom {
      display: flex;
      justify-content: space-between;

      .quantity-input {
        .quantity-input__button {
          padding: 6px 15px !important;

          @include media-query(sm) {
            padding: 6px 12px !important;
          }
        }

        .quantity-input__input {
          //font-family: 'Open Sans' !important;
          font-size: 14px !important;
        }
      }
    }
  }
}